
/* ---------------------------------------------------------------------
 Toggle Chamberlain
 ----------------------------------------------------------------------- */

.toggle:before {
    color: @COLOR_ORANGE;
}

