
/* ---------------------------------------------------------------------
 Toggle Liftmaster
 ----------------------------------------------------------------------- */

.toggle:before {
    color: @COLOR_RED;
}
