
/* ---------------------------------------------------------------------
 Toggle
 ----------------------------------------------------------------------- */

.toggle {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 6px 2% 4px;
    margin: 0;
    width: 96%;
    font-family: @FONT_FAMILY_OPENSANS;
    font-size: 16px;
    background-color: rgba(255,255,255,0.6);
    border: none;
    border-radius: @BORDER_RADIUS;
    line-height: 1.6;
    letter-spacing: 1.2px;
    -webkit-appearance: none;
    border-top: 1px solid @COLOR_LTGRAY;
    cursor: pointer;
}

.toggle:last-child {
    border-bottom: 1px solid @COLOR_LTGRAY;
}

.toggle:before {
    margin-right: 8px;
    font-family: FontAwesome;
    font-size: 28px;
    float: left;
}

.toggle.is-selected:before { content: "\f205"; }
.toggle.not-selected:before { content: "\f204"; color: @COLOR_GRAY; }

.toggle-input {
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.toggle-name {
    overflow: hidden;
    display: inline-block;
    max-width: 70%;
    padding-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toggle-edit {
    float: right;
    padding-top: 8px;
}
