
/* ---------------------------------------------------------------------
 Header Liftmaster
----------------------------------------------------------------------- */

.header {
    background-image: none;
    background-color: @COLOR_RED;
    border-bottom-color: @COLOR_WHITE;
    color: white;
}

.header-crown {
    background-color: @COLOR_BLACK;
}
