
/* ---------------------------------------------------------------------
 Header Chamberlain
 ----------------------------------------------------------------------- */

.header {
    background-image: url(../images/banner-pattern.png);
    border-bottom-color: @COLOR_BLUE;
}

.header-crown {
    background-color: @COLOR_BLUE;
}
