
/* ---------------------------------------------------------------------
 Header
 ----------------------------------------------------------------------- */

.header {
    padding: 0 0 30px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.header-crown {
    padding: 0 0 8px;
    margin-bottom: 15px;
}

.mix-header_center {
    text-align: center;
}
