
/* ---------------------------------------------------------------------
 Header
 ----------------------------------------------------------------------- */

.header {
    padding: 0 0 30px;
    border-bottom: 2px solid;
}

.header-crown {
    padding: 0 0 8px;
    margin-bottom: 30px;
    background-color: @COLOR_BLUE;
}
