
/* ---------------------------------------------------------------------
 menuContainer
 ----------------------------------------------------------------------- */

.menuContainer {
    position: fixed;
    left: -80%;
    width: 80%;
    min-height: 100%;
    box-shadow: inset -20px 0px 40px rgba(0,0,0,0.5);
}

.menuContainer.isOpen {
    left: 0;
}
