
/* ---------------------------------------------------------------------
 deviceRule
 ----------------------------------------------------------------------- */

.deviceRule + .deviceRule {
    padding-top: 30px;
}

.deviceRule-name {
    font-size: 20px;
    font-weight: @FONT_WEIGHT_BOLD;
    text-transform: uppercase;
}
