
// ------------------------------------------------------------------
// Mixins
// ------------------------------------------------------------------

// Gradients

.mixin-gradient {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 40%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
    background: -o-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
    background: -ms-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
    background: linear-gradient(to bottom,  #ffffff 40%,#f0f0f0 100%);
}


// Clearfix

.mixin-clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both; }
}
