
// ------------------------------------------------------------------
// Utils
// ------------------------------------------------------------------

/* Media dependent helper classes */

.isHiddenSmall { display: none; }

@media (min-width: 767px) {
    .isHiddenSmall { display: block; }
    .isVisibleSmall { display: none; }
}

@media (min-width: 979px) {
}

@media (min-width: 1170px) {
}
