<!-- Manage Places Card -->
<div class="card card_managePlaces">
    <div class="card-hd">
        <h1 class="card-hd-title">Manage Places</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <!-- <li> -->
        <!--     <a class="btn btn_icon" href="#"><i class="fa fa-plus fa-2x"></i></a> -->
        <!-- </li> -->
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <p class="helpText">Choose which place you would like to manage...</p>
                <a class="btn btn_block btn_large js-manageDevice" href="#">HOME
                    <i class="fa fa-chevron-right"></i>
                </a>
                <a class="btn btn_block btn_large js-manageDevice" href="#">TEST
                    <i class="fa fa-chevron-right"></i>
                </a>
                <p class="helpText"><a class="js-addPlace" href="#"><i class="fa fa-plus">&nbsp;&nbsp;&nbsp;</i>Add a New Place</a></p>
                <p class="helpText"><a href="#"><i class="fa fa-shopping-cart">&nbsp;&nbsp;</i>Shop MyQ</a></p>
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Manage Places Card -->
