<!-- Add Device Card (Step 2) -->
<div class="card card_hidden card_addDevice2">
    <div class="card-hd">
        <h1 class="card-hd-title">Add New Device</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <img class="learnImage" id="learnimage1" src="Assets/images/LearnImage_Lights.png">
                <p class="helpText"><strong>Step 1:</strong>&nbsp;Note the location of the Learn button on your device...</p>
                <p class="helpText">When you are ready, press the <strong>ADD</strong>&nbsp;button below.</p>
                <div class="formContainer">
                    <div class="formContainer-ft">
                        <a class="btn btn_next js-addDevice3" href="#">Add
                            <i class="fa fa-refresh fa-spin" style="display: none;"></i>
                        </a>
                    </div>
                </div><!-- End .formContainer -->
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Device Card (Step 2) -->
