<!-- Add Device Card -->
<div class="card card_hidden card_addDevice">
    <div class="card-hd">
        <h1 class="card-hd-title">Add New Device</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <!-- <li> -->
        <!--     <a class="btn btn_icon" href="#"><i class="fa fa-plus fa-2x"></i></a> -->
        <!-- </li> -->
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <p class="helpText">Select the device you want to add...</p>
                <a class="btn btn_block btn_large js-addDevice2" href="#">GARAGE DOOR OPENER
                    <i class="fa fa-chevron-right"></i>
                </a>
                <a class="btn btn_block btn_large js-addDevice2" href="#">REMOTE LIGHT
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Device Card -->
