<!-- Add Device Card (Step 4) -->
<div class="card card_hidden card_addDevice4">
    <div class="card-hd">
        <h1 class="card-hd-title">Name Device</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <p class="helpText"><strong>Step 3:</strong>&nbsp;Device Added! Now name your new device...</p>
                <div class="formContainer">
                    <div class="formContainer-fields">
                        <div class="formField">
                            <span class="regError" id="new_first_name_error">Please enter a first name.</span>
                            <label class="label label_hidden" for="deviceName">Device Name</label>
                            <input type="text" class="input input_block deviceName" name="deviceName">
                        </div>
                    </div>

                    <div class="formContainer-ft">
                        <a class="btn btn_next js-cancelManagePlaces" href="#">Save</a>
                        <span id="newUserErrorMessage"></span>
                    </div>
                </div><!-- End .formContainer -->
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Device Card (Step 4) -->
