<!-- History Card -->
<div class="card card_small card_history">
    <div class="card-hd">
        <h1 class="card-hd-title">History</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-trashHistory" href="#"><i class="fa fa-trash-o fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <section id="js-rule-history" class="historyContainer rule-history">

            <div data-bind="visible: items().length === 0" style="display: none;">
                <div class="history rule-history-container centered no-history">
                    You have no event history.
                </div>
            </div>
            <div data-bind="visible: items().length > 0" style="">
                <div class="history rule-history-container" data-bind="foreach: items">
                    <h3 data-bind="text: AlertDay">Sep 3, 2014</h3>
                    <ul data-bind="foreach: AlertItems">
                        <li data-bind="text: Message">2:33 PM - GDO just opened</li>

                        <li data-bind="text: Message">2:33 PM - GDO just closed</li>
                    </ul>

                    <h3 data-bind="text: AlertDay">Sep 2, 2014</h3>
                    <ul data-bind="foreach: AlertItems">
                        <li data-bind="text: Message">2:05 PM - GDO just opened</li>

                        <li data-bind="text: Message">2:05 PM - GDO just closed</li>

                        <li data-bind="text: Message">12:52 PM - GDO just opened</li>

                        <li data-bind="text: Message">12:52 PM - GDO just closed</li>
                    </ul>

                    <h3 data-bind="text: AlertDay">Aug 31, 2014</h3>
                    <ul data-bind="foreach: AlertItems">
                        <li data-bind="text: Message">4:45 PM - GDO just opened</li>

                        <li data-bind="text: Message">4:44 PM - GDO just opened</li>
                    </ul>

                    <h3 data-bind="text: AlertDay">Aug 29, 2014</h3>
                    <ul data-bind="foreach: AlertItems">
                        <li data-bind="text: Message">10:06 AM - GDO just opened</li>

                        <li data-bind="text: Message">9:54 AM - GDO remained closed</li>

                        <li data-bind="text: Message">9:53 AM - GDO just closed</li>

                        <li data-bind="text: Message">7:31 AM - GDO just opened</li>

                        <li data-bind="text: Message">7:28 AM - GDO remained closed</li>

                        <li data-bind="text: Message">7:27 AM - GDO just closed</li>

                        <li data-bind="text: Message">7:21 AM - GDO just opened</li>

                        <li data-bind="text: Message">7:16 AM - GDO just closed</li>

                        <li data-bind="text: Message">7:10 AM - GDO just opened</li>

                        <li data-bind="text: Message">7:07 AM - GDO just closed</li>

                        <li data-bind="text: Message">7:06 AM - GDO just opened</li>

                        <li data-bind="text: Message">7:06 AM - GDO just closed</li>

                        <li data-bind="text: Message">7:05 AM - GDO just opened</li>

                        <li data-bind="text: Message">7:04 AM - GDO just closed</li>
                    </ul>
                </div>

            </div>
        </section>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END History Card -->
