<!-- Devices Card -->
<div class="card card_devices">
    <div class="card-hd">
        <h1 class="card-hd-title">My Places &amp; Devices</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon" href="#"><i class="fa fa-shopping-cart fa-2x"></i></a>
        </li>
        <li>
            <a class="btn btn_icon js-managePlaces" href="#"><i class="fa fa-cog fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="deviceContainer">
            <div class="device">
                <div class="device-location">NEST</div>
                <div class="device-name">Thermostat</div>
                <img class="device-img" data-lazy="Assets/images/device-img-thermostat-away.png" alt="">
                <div class="device-status">Away for 8 Hours</div>
            </div>
            <div class="device">
                <div class="device-location">HOME</div>
                <div class="device-name">Dads Desk Lamp</div>
                <img class="device-img" data-lazy="Assets/images/device-img-light-on.png" alt="">
                <!-- <div class="device-loader sliderLoader"> -->
                <!--     <i class="fa fa-refresh fa-spin fa-3x"></i> -->
                <!-- </div> -->
                <div class="device-status">On for 30 Minutes</div>
            </div>
            <div class="device">
                <div class="device-location">Tes</div>
                <div class="device-name">Garage Door</div>
                <img class="device-img" data-lazy="Assets/images/device-img-garage-open.png" alt="">
                <div class="device-status">Open for 2 Hours</div>
            </div>
            <div class="device">
                <div class="device-location">HOME</div>
                <div class="device-name">Front Gate</div>
                <img class="device-img" data-lazy="Assets/images/device-img-gate-closed.png" alt="">
                <div class="device-status">Closed for 8 Hours</div>
            </div>
            <div class="device">
                <div class="device-location">HOME</div>
                <div class="device-name">Dads Desk Lamp</div>
                <img class="device-img" data-lazy="Assets/images/device-img-light-on.png" alt="">
                <div class="device-status">On for 30 Minutes</div>
            </div>
            <div class="device">
                <div class="device-location">Tes</div>
                <div class="device-name">Garage Door</div>
                <img class="device-img" data-lazy="Assets/images/device-img-garage-open.png" alt="">
                <div class="device-status">Open for 2 Hours</div>
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Devices Card -->
