<!-- Add Rule Card 2 -->
<div class="card card_small card_hidden card_addRule2">
    <div class="card-hd">
        <h1 class="card-hd-title">Add Rule</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManageRules" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="formContainer">
            <section class="rule-section wizard-step active" data-step="0" style="display: block; left: 0%;">
                <h3 class="hdg hdg_3" data-bind="text: DeviceName">Garage Door</h3>
                <div data-bind="if: !HaveDeviceId()"></div>
                <div data-bind="visible: HaveDeviceId">

                    <div class="formContainer-fields">
                        <div class="formField">
                            <input class="input input_block rule-name" type="text" maxlength="50" placeholder="Alert Name" data-validate="required" data-bind="value: DisplayName">
                        </div>
                    </div>

                    <h3 class="hdg hdg_3"><i class="fa fa-bell"></i>&nbsp;&nbsp;Alert me when the...</h3>
                    <div class="formContainer-indent" data-bind="foreach: PossibleStates">
                        <div class="formField">
                            <input type="checkbox" class="input input_checkbox" name="rule-states" data-validate="required" class="offscreen" data-validate-message="possible-states" data-bind="value: $data.value, checked: $root.SelectedStates, attr: { id: $root.EditorPrefix + '_state' + $data.value }" value="== 1" id="w_state== 1">
                            <label data-bind="attr: { 'for': $root.EditorPrefix + '_state' + $data.value, 'data-state-option': $data.value, 'class': $root.HasState($data.value) ? 'js-state-option device-state is-selected' : 'js-state-option device-state not-selected' }" for="w_state== 1" data-state-option="== 1" class="js-state-option device-state is-selected">
                                <span data-bind="text: $root.CreateStateOptionLabel($data.text)">Garage Door is Open</span>
                            </label>
                        </div>

                        <div class="formField">
                            <input type="checkbox" class="input input_checkbox" name="rule-states" data-validate="required" data-validate-message="possible-states" data-bind="value: $data.value, checked: $root.SelectedStates, attr: { id: $root.EditorPrefix + '_state' + $data.value }" value="== 2" id="w_state== 2">
                            <label data-bind="attr: { 'for': $root.EditorPrefix + '_state' + $data.value, 'data-state-option': $data.value, 'class': $root.HasState($data.value) ? 'js-state-option device-state is-selected' : 'js-state-option device-state not-selected' }" for="w_state== 2" data-state-option="== 2" class="js-state-option device-state not-selected">
                                <span data-bind="text: $root.CreateStateOptionLabel($data.text)">Garage Door is Closed</span>
                            </label>
                        </div>
                        <div class="validation-message possible-states" style="display: none;"></div>

                        <div class="rule-edit-states-container">
                            <div class="formField">
                                <div>
                                    <input type="radio" class="input input_radio" name="duration" value="default" data-bind="checked: CustomDuration, attr: { id: $root.EditorPrefix + 'default-duration' }" id="wdefault-duration" checked="checked">
                                    <label data-bind="attr: { 'for': $root.EditorPrefix + 'default-duration' }" for="wdefault-duration">As soon as it happens...</label>
                                </div>
                            </div>

                            <div class="formField">
                                <div data-bind="attr: { 'class': DurationClass }" class="custom-options default">
                                    <input type="radio" class="input input_radio" name="duration" value="custom" data-bind="checked: CustomDuration, attr: { id: $root.EditorPrefix + 'custom-duration' }" id="wcustom-duration">
                                    <label data-bind="attr: { 'for': $root.EditorPrefix + 'custom-duration' }" for="wcustom-duration">For longer than......</label>
                                    <div class="formOptions options">
                                        <div class="formField">
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="time-input" data-bind="valueHoursFromSeconds: DurationSeconds">
                                            <label class="label label_inline">hr</label>
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="time-input" data-bind="valueMinutesFromSeconds: DurationSeconds">
                                            <label class="label label_inline">min</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END .rule-edit-states-container -->
                    </div><!-- END foreach -->

                    <h3 class="hdg hdg_3"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Alert is active...</h3>
                    <div class="formContainer-indent rule-edit-duration-container">
                        <div class="formField">
                            <div>
                                <input type="radio" class="input input_radio" name="activeTime" value="default" data-bind="checked: CustomActiveTime, attr: { id: $root.EditorPrefix + 'default-time' }" id="wdefault-time">
                                <label data-bind="attr: { 'for': $root.EditorPrefix + 'default-time' }" for="wdefault-time">24/7</label>
                            </div>
                        </div>

                        <div class="formField">
                            <div data-bind="attr: { 'class': TimeClass }" class="custom-options default">
                                <input type="radio" class="input input_radio" name="activeTime" value="custom" data-bind="checked: CustomActiveTime, attr: { id: $root.EditorPrefix + 'custom-time' }" id="wcustom-time">
                                <label data-bind="attr: { 'for': $root.EditorPrefix + 'custom-time' }" for="wcustom-time">Custom</label>
                                <div class="formOptions options">
                                    <div class="formField">
                                        <div data-bind="timePicker: FromTimeSeconds">
                                            <label class="label label_inline">From</label>
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="js-hours time-input">
                                            <span>:</span>
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="js-minutes time-input">
                                            <select class="js-am-pm">
                                                <option value="AM">AM</option>
                                                <option value="PM">PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div data-bind="timePicker: ToTimeSeconds">
                                        <div class="formField">
                                            <label class="label label_inline">To</label>
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="js-hours time-input" data-validate-message="invalid-active-time">
                                            <span>:</span>
                                            <input type="tel" class="input input_small" title="" pattern="[0-9]*" maxlength="2" class="js-minutes time-input">
                                            <select class="js-am-pm">
                                                <option value="AM">AM</option>
                                                <option value="PM">PM</option>
                                            </select>
                                            <div class="validation-message invalid-active-time" style="display: none;"></div>
                                        </div>
                                    </div>

                                    <div class="formOptions-toggles">
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Monday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Tuesday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Wednesday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Thursday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Friday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Saturday</label>
                                        </div>
                                        <div data-bind="attr: { 'class': $root.HasDay('M') ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle is-selected">
                                            <input class="toggle-input" type="checkbox" value="M" name="active-day" data-bind="checked: SelectedActiveDays, attr: { id: $root.EditorPrefix + 'active-day-M' }" id="wactive-day-M">
                                            <label data-bind="attr: { 'for': $root.EditorPrefix + 'active-day-M' }" class="toggle-name" for="wactive-day-M">Sunday</label>
                                        </div>
                                    </div><!-- END .formOptions-toggles -->
                                </div><!-- END .formOptions -->
                            </div>
                        </div><!-- END .formField -->
                    </div>


                    <h3 class="hdg hdg_3"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;By sending me...</h3>
                    <div class="formContainer-indent rule-destination-container">
                        <div data-bind="attr: { 'class': $root.HasAction(1) ? 'toggle is-selected' : 'not-selected' }" class="toggle not-selected">
                            <div class="formField">
                                <input class="toggle-input" name="alertDestination" data-validate="required" data-validate-message="possible-destinations" type="checkbox" value="1" data-bind="checked: Actions, attr: { id: EditorPrefix + '_alert_push'  }" id="w_alert_push">
                                <label class="toggle-name" data-bind="attr: { 'for': EditorPrefix + '_alert_push'  }" for="w_alert_push">a Push Alert<div class="sub-label">(for Apple and Android Apps)</div></label>
                            </div>
                        </div>
                        <div data-bind="attr: { 'class': $root.HasAction(2) ? 'toggle is-selected' : 'toggle not-selected' }" class="toggle not-selected">
                            <div class="formField">
                                <input  class="toggle-input" name="alertDestination" data-validate="required" data-validate-message="possible-destinations" type="checkbox" value="2" data-bind="checked: Actions, attr: { id: EditorPrefix + '_alert_email'  }" id="w_alert_email">
                                <label  class="toggle-name" data-bind="attr: { 'for': EditorPrefix + '_alert_email'  }" for="w_alert_email">an Email Alert</label>
                            </div>
                        </div>
                    </div>
                </div><!-- END if have device ID -->
            </section>

            <div class="formContainer-ft formContainer-ft_pad">
                <div class="validation-message possible-destinations" style="display: none;"></div>
                <div class="centered">
                    <span class="btn btn_alt negative-action" data-nav="home">Cancel</span>
                    <span class="btn btn_next" data-validate="" data-nav="finish">Finish</span>
                </div>
            </div>
        </div><!-- END .formContainer -->
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Rule Card 2 -->
