<!-- Rules Card -->
<div class="card card_small card_rules">
    <div class="card-hd">
        <h1 class="card-hd-title">Rules</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-addRule" href="#"><i class="fa fa-plus fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="rulesContainer manage-rules">

            <section class="rules js-place-list rule-section">
                <div data-bind="visible: DeviceRules().length > 0">
                    <div id="js-place-list-rules" data-bind="foreach: DeviceRules" class="control-group">
                        <div class="deviceRule">
                            <h3 class="deviceRule-name" data-bind="text: DeviceName, visible: Rules().length > 0">GDO</h3>
                            <div data-bind="foreach: Rules, visible: Rules().length > 0">

                                <label data-bind="attr: { 'for': 'rule_' + RuleId(), 'class': Enabled() ? 'toggle rule active is-selected' : 'toggle rule active not-selected' }" for="rule_154206" class="toggle rule active is-selected">
                                    <input class="toggle-input" data-bind="checked: Enabled, attr: { id: 'rule_' + RuleId() }" type="checkbox" id="rule_46318" checked="checked">
                                    <span class="toggle-name" data-bind="text: DisplayName">GDO Open</span>
                                    <span class="toggle-edit js-rule-edit-selector rule-edit-selector" data-bind="attr: { 'data-ruleId': RuleId }" data-ruleid="46318"><i class="fa fa-cog"></i></span>
                                </label>

                                <label data-bind="attr: { 'for': 'rule_' + RuleId(), 'class': Enabled() ? 'toggle rule active is-selected' : 'toggle rule active not-selected' }" for="rule_154206" class="toggle rule active is-selected">
                                    <input class="toggle-input" data-bind="checked: Enabled, attr: { id: 'rule_' + RuleId() }" type="checkbox" id="rule_46318" checked="checked">
                                    <span class="toggle-name" data-bind="text: DisplayName">GDO Closed</span>
                                    <span class="toggle-edit js-rule-edit-selector rule-edit-selector" data-bind="attr: { 'data-ruleId': RuleId }" data-ruleid="46318"><i class="fa fa-cog"></i></span>
                                </label>

                                <label data-bind="attr: { 'for': 'rule_' + RuleId(), 'class': Enabled() ? 'toggle rule active is-selected' : 'toggle rule active not-selected' }" for="rule_154206" class="toggle rule active not-selected">
                                    <input class="toggle-input" data-bind="checked: Enabled, attr: { id: 'rule_' + RuleId() }" type="checkbox" id="rule_46318" checked="checked">
                                    <span class="toggle-name" data-bind="text: DisplayName">Test Responsive 1 min</span>
                                    <span class="toggle-edit js-rule-edit-selector rule-edit-selector" data-bind="attr: { 'data-ruleId': RuleId }" data-ruleid="46318"><i class="fa fa-cog"></i></span>
                                </label>
                            </div>
                        </div><!-- END .device-rule -->

                        <div class="deviceRule">
                            <h3 class="deviceRule-name" data-bind="text: DeviceName, visible: Rules().length > 0">OTHER DEVICE</h3>
                            <div data-bind="foreach: Rules, visible: Rules().length > 0">

                                <label data-bind="attr: { 'for': 'rule_' + RuleId(), 'class': Enabled() ? 'toggle rule active is-selected' : 'toggle rule active not-selected' }" for="rule_154206" class="toggle rule active is-selected">
                                    <input class="toggle-input" data-bind="checked: Enabled, attr: { id: 'rule_' + RuleId() }" type="checkbox" id="rule_46318" checked="checked">
                                    <span class="toggle-name" data-bind="text: DisplayName">GDO Open</span>
                                    <span class="toggle-edit js-rule-edit-selector rule-edit-selector" data-bind="attr: { 'data-ruleId': RuleId }" data-ruleid="46318"><i class="fa fa-cog"></i></span>
                                </label>

                                <label data-bind="attr: { 'for': 'rule_' + RuleId(), 'class': Enabled() ? 'toggle rule active is-selected' : 'toggle rule active not-selected' }" for="rule_154206" class="toggle rule active not-selected">
                                    <input class="toggle-input" data-bind="checked: Enabled, attr: { id: 'rule_' + RuleId() }" type="checkbox" id="rule_46318" checked="checked">
                                    <span class="toggle-name" data-bind="text: DisplayName">GDO Closed</span>
                                    <span class="toggle-edit js-rule-edit-selector rule-edit-selector" data-bind="attr: { 'data-ruleId': RuleId }" data-ruleid="46318"><i class="fa fa-cog"></i></span>
                                </label>
                            </div>
                        </div><!-- END .device-rule -->

                    </div><!-- END .js-place-list-rules -->
                </div>
                <div class="centered">
                    <div id="js-add-rule-loader" style="display: none;">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </div>
                </div>
            </section>

        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Rules Card -->
