<!-- Manage Rule Card -->
<div class="card card_small card_hidden card_manageRule">
    <div class="card-hd">
        <h1 class="card-hd-title">Add Place</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="formContainer">
            <div class="formContainer-fields">
            </div>

            <div class="formContainer-ft">
                <a class="btn btn_next js-addPlace2" href="#">Next
                    <i class="fa fa-refresh fa-spin" style="display: none;"></i>
                </a>
                <span id="newUserErrorMessage"></span>
            </div>
        </div><!-- End .formContainer -->
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Manage Rule Card -->
