<!-- Add Device Card (Step 3) -->
<div class="card card_hidden card_addDevice3">
    <div class="card-hd">
        <h1 class="card-hd-title">Add New Device</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <img class="learnImage" id="learnimage3" src="Assets/images/LearnImage_Lights.png">
                <p class="helpText"><strong>Step 2:</strong>&nbsp;Now walk up to your device and press and release its Learn Button one time...</p>

                <div class="learnLoader">
                    <i class="fa fa-refresh fa-2x fa-spin"></i>
                </div>
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Device Card (Step 3) -->
