<!-- Add Rule Card -->
<div class="card card_small card_hidden card_addRule">
    <div class="card-hd">
        <h1 class="card-hd-title">Add Rule</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManageRules" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <p class="helpText">Select a device for your alert...</p>
        <a class="btn btn_block btn_large js-addRule2" href="#">GARAGE DOOR OPENER
            <i class="fa fa-chevron-right"></i>
        </a>
        <a class="btn btn_block btn_large js-addRule2" href="#">REMOTE LIGHT
            <i class="fa fa-chevron-right"></i>
        </a>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Rule Card -->
