<!-- Manage Devices Card -->
<div class="card card_hidden card_manageDevices">
    <div class="card-hd">
        <h1 class="card-hd-title">Manage Devices</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Save &amp; Close <i class="fa fa-check fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <div class="formContainer">
                    <h3 class="hdg hdg_2">Place</h3>
                    <div class="formContainer-fields">
                        <div class="formField">
                            <span class="regError" id="new_place_name_error">Please enter a name for your place.</span>
                            <label class="label label_hidden" for="new_place_name">First Name</label>
                            <input class="input input_icon" type="text" id="new_place_name" name="new_first_name" value="HOME">
                            <a class="js-trashPlace" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div><!-- END .formContainer-fields -->

                    <h3 class="hdg hdg_2">Devices</h3>
                    <div class="formContainer-fields">
                        <div class="formField">
                            <span class="regError" id="new_device_name_error">Please enter a device name.</span>
                            <label class="label label_hidden" for="new_device_name">Device Name</label>
                            <input class="input input_icon" type="text" id="new_first_name" name="new_device_name" value="Desk">
                            <a class="js-trashDevice" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                        <div class="formField">
                            <span class="regError" id="new_device_name_error">Please enter a device name.</span>
                            <label class="label label_hidden" for="new_device_name">Device Name</label>
                            <input class="input input_icon" type="text" id="new_first_name" name="new_device_name" value="Gate">
                            <a class="js-trashDevice" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                        <div class="formField">
                            <span class="regError" id="new_device_name_error">Please enter a device name.</span>
                            <label class="label label_hidden" for="new_device_name">Device Name</label>
                            <input class="input input_icon" type="text" id="new_first_name" name="new_device_name" value="Garage Door">
                            <a class="js-trashDevice" href="#"><i class="fa fa-trash-o fa-lg"></i></a>
                        </div>
                    </div><!-- END .formContainer-fields -->
                </div><!-- End .formContainer -->

                <p class="helpText"><a class="js-addDevice" href="#"><i class="fa fa-plus">&nbsp;&nbsp;</i>Add a New Device</a></p>
            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Manage Devices Card -->
