<!-- Add Place Card -->
<div class="card card_hidden card_addPlace">
    <div class="card-hd">
        <h1 class="card-hd-title">Add Place</h1>
    </div><!-- END .card-hd -->

    <ul class="card-actions">
        <li>
            <a class="btn btn_icon js-cancelManagePlaces" href="#">Close <i class="fa fa-times fa-2x"></i></a>
        </li>
    </ul>

    <div class="card-bd">
        <div class="grid">
            <div class="grid-col_6of12_centered">
                <p class="helpText">Enter the MyQ Serial Number for your gateway...</p>
                <div class="formContainer">
                    <div class="formContainer-fields">
                        <div class="formField">
                            <div class="inputGroup">
                                <input id="gatewaySerialNumber1" maxlength="4" class="input input_serial gatewaySerialPart" type="text">
                                <input id="gatewaySerialNumber2" maxlength="3" class="input input_serial gatewaySerialPart" type="text">
                                <input id="gatewaySerialNumber3" maxlength="3" class="input input_serial gatewaySerialPart" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="formContainer-ft">
                        <a class="btn btn_next js-addPlace2" href="#">Next
                            <i class="fa fa-refresh fa-spin" style="display: none;"></i>
                        </a>
                        <span id="newUserErrorMessage"></span>
                    </div>

                    <div class="formContainer-callous">
                        <p class="helpText">The 10-digit MyQ serial number (1234 567 89A) can be found on a label on the device or on the front of the manual.</p>
                        <p class="helpText"><a href="#">Find MyQ Serial Number</a></p>
                    </div>
                </div><!-- End .formContainer -->
            </div>
        </div>
    </div><!-- END .card-bd -->
</div><!-- END .card -->
<!-- END Add Place Card -->
