<div class="container">
    <div class="grid">
        <div class="grid-col grid-col_6of12">
            <div class="box">
                <div class="box-media box-media_tips"></div>
                <div class="box-bd">
                    <h2 class="hdg">Tips</h2>
                    <p>
                        Having trouble setting up your MyQ product? Check out these common issues and tips.
                        <a href="#">View &gt;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-col grid-col_6of12">
            <div class="box">
                <div class="box-media box-media_download"></div>
                <div class="box-bd">
                    <h2 class="hdg">Download App</h2>
                    <p>
                        Download the MyQ app from the Apple App Store or Google Play Store.
                    </p>
                    <a class="appIcon" href="#">
                        <img class="appIcon-img" src="Assets/images/appIcon-img-apple@2x.png" alt="">
                    </a>
                    <a class="appIcon" href="#">
                        <img class="appIcon-img" src="Assets/images/appIcon-img-google@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div><!-- END .grid -->

    <div class="grid">
        <div class="grid-col grid-col_6of12">
            <div class="box">
                <div class="box-media box-media_shop"></div>
                <div class="box-bd">
                    <h2 class="hdg">Shop</h2>
                    <p>
                        Choose a variety of accessories to secure your home (or business).
                        <a href="#">View &gt;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="grid-col grid-col_6of12">
            <div class="box">
                <div class="box-media box-media_community"></div>
                <div class="box-bd">
                    <h2 class="hdg">Community</h2>
                    <p>
                        Have an idea or question you want to share with us? Join the {{brand}} MyQ Community and see what others are saying.
                        <a target="_blank" href="https://myqcommunity.{{theme}}.com/{{theme}}myq">View &gt;</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- END .grid -->

</div>
