<footer role="contentinfo">
    <div class="footer">
        <div class="container">
            <div class="grid">
                <div class="grid-col grid-col_4of12">
                    <img class="appLogo appLogo_alt" src="Assets/images/logo-{{theme}}_white@2x.png" alt="">
                </div>
                <div class="grid-col grid-col_8of12">
                    <div class="pullNav" role="navigation">
                        <ul class="hList hList_spaced">
                            <li><a class="link_alt" href="/">Home</a></li>
                            <li><a class="link_alt" href="#">Openers</a></li>
                            <li><a class="link_alt" href="#">Accessories</a></li>
                            <li><a class="link_alt" href="#">Support</a></li>
                            <li><a class="link_alt" href="#">Disclaimer</a></li>
                            <li><a class="link_alt" href="#">Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <small class="contentInfo">
                <span>&copy; 2014 {{brand}}</span>
                <span>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</span>
            </small>
        </div><!-- END .grid -->
    </div><!-- END .footer -->
</footer>
