<div class="header-crown">
    <div class="container">
        <div class="languageSelect">
            <label class="languageSelect-label" for="ctl00$LocaleSelector1$ctl00">Language:</label>
            <select name="ctl00$LocaleSelector1$ctl00" class="languageSelect-select">
                <option value="de">Deutsch</option>
                <option value="en" selected>English</option>
                <option value="es">Español</option>
                <option value="fr">Français</option>
                <option value="nl">Nederlands</option>
            </select>
        </div>
    </div>
</div>
