<div class="menuContainer isVisibleSmall">
    <ul class="mobileMenu">
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_places.png" alt="">
                Dashboard
            </a>
        </li>
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_account.png" alt="">
                Account
            </a>
        </li>
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_history.png" alt="">
                History
            </a>
        </li>
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_rules.png" alt="">
                Rules
            </a>
        </li>
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_help.png" alt="">
                Help
            </a>
        </li>
        <li>
            <a class="mobileLink" href="#">
                <img class="mobileLink-icon" src="Assets/images/mobileLink-icon_signout.png" alt="">
                Signout
            </a>
        </li>
    </ul>
</div>
