
/* ---------------------------------------------------------------------
 Hero Small Screens
 ----------------------------------------------------------------------- */

.hero {
    display: block;
}
