
/* ---------------------------------------------------------------------
 Hero Large Screens
 ----------------------------------------------------------------------- */

.hero-wrap-hd {
    width: 60%;
}
