
/* ---------------------------------------------------------------------
 Hero Liftmaster
 ----------------------------------------------------------------------- */

.hero-wrap-hd > * {
    background: @COLOR_RED_TRANSPARENT;

    &:last-child {
        color: @COLOR_RED;
    }
}
