
/* ---------------------------------------------------------------------
 Hero Chamberlain
 ----------------------------------------------------------------------- */

.hero-wrap-hd > * {
    background: @COLOR_BLUE_TRANSPARENT;

    &:last-child {
        color: @COLOR_ORANGE;
    }
}
