
/* ---------------------------------------------------------------------
 Hero
 ----------------------------------------------------------------------- */

.hero {
    display: none;
    overflow: hidden; /* Hides pseudo class on highlighted headings */
    width: 100%;
    height: 600px;
    position: relative;
    background: #8bdff8 url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 0.3s ease-in;
}

.hero-wrap {
    .mixin-clearfix();

    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.hero-wrap-hand {
    display: none;
    position: absolute;
    width: 440px;
    height: auto;
    bottom: -170px;
    right: 0;
    transform: translateX(0);
}

.hero-wrap-hd {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 100%;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
    transform: translateX(0);
}

.hero-wrap-hd > * {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 20px;
    font-weight: @FONT_WEIGHT_NORMAL;
    border-radius: @BORDER_RADIUS;

    &:last-child {
        background: rgba(255, 255, 255, 0.8);
        color: @COLOR_ORANGE;
    }
}
