
/* ---------------------------------------------------------------------
 Hero Medium Screens
 ----------------------------------------------------------------------- */

.hero-wrap-hand {
    display: block;
}

.hero-wrap-hd {
    width: 70%;
}
