
/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */

.checkbox {
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    .input_checkbox + label:before { 
        font-size: 13px;
        margin-right: 4px;
    }
}
