
/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */

.checkbox {
    .input_checkbox + label:before { color: @COLOR_WHITE; }
    a { color: @COLOR_WHITE;}
    a:hover { color: #949494; }
}
