
/* ---------------------------------------------------------------------
 hList
 ----------------------------------------------------------------------- */

// Clear Floats
.hList {
    .mixin-clearfix();
}

.hList > * {
    float: left;
    width: 50%;
    text-align: center;
}

.hList > * + * {
    margin-top: 5px;
}
