
/* ---------------------------------------------------------------------
 hList
 ----------------------------------------------------------------------- */

.hList > * {
    width: auto;
    text-align: left;
}

.hList > * + * {
    margin-left: 4px;
    margin-top: 0;
}

.hList_spaced > * + * { margin-left: 20px; }
