
/* ---------------------------------------------------------------------
 ContentInfo
 ----------------------------------------------------------------------- */

.contentInfo {
    display: block;
    padding: 30px 0 0;
    font-size: 12px;
}

.contentInfo > * {
    display: block;
}
