
/* ---------------------------------------------------------------------
 Inputs Chamberlain
 ----------------------------------------------------------------------- */

.input {
    border: 1px solid @COLOR_BLUE;
}

.input:focus {
    // border-color: @COLOR_ORANGE;
}

.input_checkbox + label:before,
.input_radio + label:before { color: @COLOR_BLUE; }
