
/* ---------------------------------------------------------------------
 Inputs Medium
 ----------------------------------------------------------------------- */

.input {
    width: 140px;
}

.input_small {
    width: 40px;
}

.input_select {
    height: 38px;
    width: 100%;
}

.input_block {
    padding: 10px 2%;
    width: 95.5%;
}

.input_icon {
    width: 86%;
    margin-right: 4%;
}

.input_serial {
    width: 25%;
}

