
/* ---------------------------------------------------------------------
 Inputs
 ----------------------------------------------------------------------- */

.input {
    padding: 6px 2%;
    margin: 0;
    width: 96%;
    font-family: @FONT_FAMILY_OPENSANS;
    font-size: 12px;
    background-color: #ffffff;
    border: none;
    border-radius: @BORDER_RADIUS;
    line-height: 1.6;
    letter-spacing: 1.2px;
    // -webkit-appearance: none;
}

.input:focus {
    font-size: 12px; /* Overrides the 16px zooming fix for iOS on mobile */
    // outline: 0;
}

.input_select {
    height: 38px;
    width: 100%;
}

.input_small {
    width: 40px;
}

.input_icon {
    width: 80%;
    margin-right: 4%;
}

.input_serial {
    width: 22%;
}

.input_serial + .input_serial {
    margin-left: 5.5%;
}

.input_checkbox,
.input_radio {
    position: absolute;
    right: 200%;
    bottom: 200%;
}

.input_radio + label:before {
    content: "\f10c";
    margin-right: 8px;
    font-family: FontAwesome;
    font-size: 16px;
    float: left;
}

.input_radio:checked + label:before { content: "\f192"; }

.input_checkbox + label:before {
    content: "\f10c";
    margin-right: 8px;
    font-family: FontAwesome;
    font-size: 16px;
    float: left;
}

.input_checkbox:checked + label:before { content: "\f05d"; }
