
/* ---------------------------------------------------------------------
 Inputs Small
 ----------------------------------------------------------------------- */

.input {
    padding: 8px 8px 6px;
    width: 100px;
}

.input_small {
    width: 40px;
}

.input_select {
    height: 38px;
    width: 100%;
}

.input_block {
    padding: 6px 2%;
    width: 95.5%;
}

.input_icon {
    width: 80%;
    margin-right: 5%;
}

.input_serial {
    width: 22%;
}

