
/* ---------------------------------------------------------------------
 Inputs Liftmaster
 ----------------------------------------------------------------------- */

.input {
    border: 1px solid @COLOR_BLACK;
}

.input:focus {
    // border-color: @COLOR_RED;
}

.input_checkbox + label:before,
.input_radio + label:before { color: @COLOR_BLACK; }
