---
title: Create Account | MyQ Chamberlain
theme: liftmaster
brand: Liftmaster
extension: -lm
layout: page.hbs
---

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Create Account</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <ol class="centeredList">
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">1</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">2</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">3</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">4</span>
                            </li>
                        </ol><!-- END .vList -->

                        <div class="formContainer">
                            <div class="formField">
                                <p class="helpText">Sign up below for an account. <a href="http://chamberlain.custhelp.com/" target="_blank">Need help getting set up?</a></p>
                            </div>
                            <div class="formContainer-fields">
                                <div class="formField">
                                    <span class="regError" id="new_first_name_error">Please enter a first name.</span>
                                    <label class="label label_hidden" for="new_first_name">First Name</label>
                                    <input class="input input_block" type="text" id="new_first_name" name="new_first_name" placeholder="First Name *">
                                </div>
                                <div class="formField">
                                    <span class="regError" id="new_last_name_error">Please enter a last name.</span>
                                    <label class="label label_hidden" for="new_last_name">First Name</label>
                                    <input class="input input_block" type="text" id="new_last_name" name="new_last_name" placeholder="Last Name *">
                                </div>
                                <div class="formField">
                                    <span class="regError" id="new_email_error">Please enter a valid email address.</span>
                                    <label class="label label_hidden" for="new_email">First Name</label>
                                    <input class="input input_block" type="text" id="new_email" name="new_email" placeholder="Email Address *">
                                </div>
                                <div class="formField">
                                    <label class="label">Country<span class="requiredIdentifier">*</span></label>
                                    <select class="input input_select" name="ctl00$MainContent$new_country_code" id="new_country_code">
                                        <option value="BRB">Barbados</option>
                                        <option value="BEL">Belgium</option>
                                        <option value="CAN">Canada</option>
                                        <option value="COL">Colombia</option>
                                        <option value="CRI">Costa Rica</option>
                                        <option value="ECU">Ecuador</option>
                                        <option value="SLV">El Salvador</option>
                                        <option value="FIN">Finland</option>
                                        <option value="FRA">France</option>
                                        <option value="DEU">Germany</option>
                                        <option value="GTM">Guatemala</option>
                                        <option value="HND">Honduras</option>
                                        <option value="ITA">Italy</option>
                                        <option value="JAM">Jamaica</option>
                                        <option value="MEX">Mexico</option>
                                        <option value="NLD">Netherlands</option>
                                        <option value="NIC">Nicaragua</option>
                                        <option value="NOR">Norway</option>
                                        <option value="001">Other Caribbean</option>
                                        <option value="002">Other European</option>
                                        <option value="003">Other Latin American</option>
                                        <option value="PAN">Panama</option>
                                        <option value="PER">Peru</option>
                                        <option value="POL">Poland</option>
                                        <option value="PRI">Puerto Rico</option>
                                        <option value="ESP">Spain</option>
                                        <option value="TTO">Trinidad and Tobago</option>
                                        <option value="GBR">United Kingdom</option>
                                        <option selected="selected" value="USA">United States</option>
                                    </select>
                                </div>
                                <div class="formField">
                                    <span class="regError" id="new_password_error">Must be 6 or more characters.</span>
                                    <span class="regError" id="password_space_error">Please enter a password without space(s)</span>
                                    <label class="label label_hidden" for="new_password">Create Password</label>
                                    <input class="input input_block" type="password" id="new_password" name="new_password" placeholder="Password *">
                                </div>
                                <div class="formField">
                                    <span class="regError" id="verify_password_error">Must be 6 or more characters.</span>
                                    <label class="label label_hidden" for="new_password_verify">Verify Password</label>
                                    <input class="input input_block" type="password" id="new_password_verify" name="new_password_verify" placeholder="Verify Password *">
                                </div>
                                <div id="contactInfoError" class="requiredIdentifier">*Required fields</div>
                            </div><!-- END .formContainer-fields -->

                            <div class="formContainer-ft">
                                <div class="formField">
                                    <span class="regError" id="terms_check_error">Please agree to the terms of service before continuing.</span>
                                    <input type="checkbox" class="input input_checkbox" id="terms_check">
                                    <label for="terms_check">
                                        I agree to the <a target="_blank" href="https://www.mychamberlain.com/assets/docs/license-and-terms-of-use-chamberlain.html">License Agreement and Terms of Use</a>
                                    </label>
                                </div>
                                <a href="userCreated{{extension}}.html" class="btn btn_next">Next
                                    <i class="fa fa-refresh fa-spin" id="registerLoader"></i>
                                </a>
                                <span id="newUserErrorMessage"></span>
                            </div>
                        </div><!-- End .formContainer -->

                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
