---
title: Dashboard | MyQ Liftmaster
theme: liftmaster
brand: Liftmaster
extension: -lm
layout: dashboard.hbs
---

<div class="cardContainer">
    <div class="container">

        <div class="flipperContainer">
            <div class="flipper">
                <div class="flipper-front">
                    {{> card-devices}}
                </div><!-- END .flipper-front -->

                <div class="flipper-back flipper-back_devices">
                    {{> card-addPlace}}
                    {{> card-addPlace2}}
                    {{> card-addDevice}}
                    {{> card-addDevice2}}
                    {{> card-addDevice3}}
                    {{> card-addDevice4}}
                    {{> card-managePlaces}}
                    {{> card-manageDevices}}
                </div><!-- END .flipper-front -->

            </div><!-- END .flipper -->
        </div><!-- END .flipperContainer -->

        <div class="grid">
            <div class="grid-col grid-col_6of12">
                <div class="flipperContainer flipperContainer_left">
                    <div class="flipper">
                        <div class="flipper-front">
                            {{> card-history}}
                        </div><!-- END .flipper-front -->
                    </div><!-- END .flipper -->
                </div><!-- END .flipperContainer -->
            </div>

            <div class="grid-col grid-col_6of12">
                <div class="flipperContainer flipperContainer_right">
                    <div class="flipper">
                        <div class="flipper-front">
                            {{> card-rules}}
                        </div><!-- END .flipper-front -->

                        <div class="flipper-back flipper-back_rules">
                            {{> card-addRule}}
                            {{> card-addRule2}}
                            {{> card-manageRule}}
                        </div><!-- END .flipper-front -->

                    </div><!-- END .flipper -->
                </div><!-- END .flipperContainer -->
            </div>
        </div>


    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}

