---
title: MyQ Liftmaster
theme: liftmaster
brand: Liftmaster
extension: -lm
layout: default.hbs
---

<div class="hero">
    <div class="hero-wrap">
        <img class="hero-wrap-hand" src="Assets/images/hero-phone_{{theme}}@2x.png" alt="">

        <h1 class="hero-wrap-hd">
            <span>Monitor and control your</span>
            <span>door, gate, and lights</span>
            <span>from anywhere.</span>
        </h1>
    </div>
</div><!-- END .hero -->

<div class="triangleSection">
    <div class="container">
        <div class="circles">
            <div>
                <div class="iconImage iconImage_wifi"></div>
                <h2 class="hdg mix-hdg_center">Step 1</h2>
                <p>Connect your MyQ® device to your home’s Wi-Fi network.</p>
            </div><!-- END .circle -->
            <div>
                <div class="iconImage iconImage_user"></div>
                <h2 class="hdg mix-hdg_center">Step 2</h2>
                <p>Sign up and complete the registration with a valid email address.</p>
            </div><!-- END .circle -->
            <div>
                <div class="iconImage iconImage_login"></div>
                <h2 class="hdg mix-hdg_center">Step 3</h2>
                <p>Download the MyQ app or log in above, then enjoy MyQ!</p>
            </div><!-- END .circle -->
        </div>
    </div>
    <div class="triangleSection-triangle"></div>
</div>

{{> footerWidgets}}
