---
title: Registration Final Step | MyQ Chamberlain
theme: chamberlain
layout: page.hbs
---

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Validate Login</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <h2 class="hdg hdg_2">Validate Your Login</h2>
                        <div class="formContainer">
                            <div class="formField">
                                <p>Congratulations! Your account has been successfully activated.<br>Please log in to start creating your user profile.</p>
                            </div>
                            <div class="formContainer-fields">
                                <div class="formField">
                                    <span class="regError" id="new_email_error">Please enter a valid email address.</span>
                                    <label class="label label_hidden" for="new_email">First Name</label>
                                    <input class="input input_block" type="text" id="new_email" name="new_email" placeholder="Email Address">
                                </div>
                                <div class="formField">
                                    <span class="regError" id="new_password_error">Must be 6 or more characters.</span>
                                    <span class="regError" id="password_space_error">Please enter a password without space(s)</span>
                                    <label class="label label_hidden" for="new_password">Create Password</label>
                                    <input class="input input_block" type="password" id="new_password" name="new_password" placeholder="Password">
                                </div>
                            </div><!-- END .formContainer-fields -->

                            <div class="formContainer-ft">
                                <a href="registerAccount.html" class="btn btn_next">Login
                                    <i class="fa fa-refresh fa-spin" id="registerLoader"></i>
                                </a>
                                <span id="newUserErrorMessage"></span>
                            </div>
                        </div><!-- End .formContainer -->
                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
