---
title: Account Ready
theme: liftmaster
brand: Liftmaster
extension: -lm
layout: page.hbs
---

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Your Account is Ready</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <ol class="centeredList">
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">1</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">2</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">3</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">4</span>
                            </li>
                        </ol><!-- END .vList -->

                        <div class="formContainer">
                            <div class="formField">
                                <p>Now it's time to add devices, such as a MyQ® Garage Door Opener or MyQ Remote Lamp Control, to your MyQ system.</p>
                            </div>
                            <div class="formField">
                                <p><strong>FIRST,&nbsp;</strong>get your smart phone and download the MyQ App:</p>
                                <a class="appIcon" href="#">
                                    <img class="appIcon-img" src="Assets/images/appIcon-img-apple@2x.png" alt="">
                                </a>
                                <a class="appIcon" href="#">
                                    <img class="appIcon-img" src="Assets/images/appIcon-img-google@2x.png" alt="">
                                </a>
                            </div>

                            <div class="formField">
                                <p><strong>NEXT,&nbsp;</strong>open and log in on the MyQ App on your smart phone.<br>
                                Walk up to the device you want to add and follow the instructions on the App to add the device.</p>
                            </div>

                            <div class="formField">
                                <p><strong>DON'T WANT TO USE AN APP,&nbsp;</strong><a href="dashboard{{extension}}.html">click here to go to your dashboard.</a></p>
                            </div>
                        </div><!-- End .formContainer -->

                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
