---
title: Additional Account Information
theme: chamberlain
layout: page.hbs
---

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Additional Info</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <ol class="centeredList">
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">1</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">2</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">3</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">4</span>
                            </li>
                        </ol><!-- END .vList -->

                        <div class="formContainer">
                            <div class="formField">
                                <p class="helpText">Please fill out additional account information.</p>
                            </div>
                            <div class="formContainer-fields">
                                <div class="formField">
                                    <label class="label label_hidden" for="address1">Street Address</label>
                                    <input class="input input_block" type="text" id="address1" name="ctl00$MainContent$address1" placeholder="Street Address">
                                </div>
                                <div class="formField">
                                    <label class="label label_hidden" for="address2">Street Address Cont</label>
                                    <input class="input input_block" type="text" id="address2" name="ctl00$MainContent$address2" placeholder="Street Address Cont.">
                                </div>
                                <div class="formField">
                                    <label class="label label_hidden" for="city">City</label>
                                    <input class="input input_block" type="text" id="city" name="ctl00$MainContent$city" placeholder="City">
                                </div>
                                <div class="formField">
                                    <label class="label label_hidden" for="state">State/Province</label>
                                    <input class="input input_block" type="text" id="state" name="ctl00$MainContent$state" placeholder="State/Province">
                                </div>
                                <div class="formField">
                                    <label class="label label_hidden" for="zip">Zip</label>
                                    <input class="input input_block" type="text" id="zip" name="ctl00$MainContent$zip" placeholder="Zip *">
                                </div>
                                <div class="formField">
                                    <label class="label label_hidden" for="phone">Phone</label>
                                    <input class="input input_block" type="text" id="phone" name="ctl00$MainContent$phone" placeholder="Phone">
                                </div>
                                <div class="formField">
                                    <label class="label" for="timeZone">Alerts Time Zone</label>
                                    <select class="input input_select" name="ctl00$MainContent$timeZone" id="timeZone">
                                        <option value="4">(-10:00) Hawaii</option>
                                        <option value="5#DST">(-9:00) Alaska</option>
                                        <option value="7#DST">(-8:00) Pacific Time</option>
                                        <option value="6#DST">(-8:00) Pacific Time (Mexico)</option>
                                        <option value="8">(-7:00) Arizona</option>
                                        <option value="9#DST">(-7:00) Chihuahua</option>
                                        <option value="10#DST">(-7:00) Mountain Time </option>
                                        <option value="11">(-6:00) Central America</option>
                                        <option selected="selected" value="12#DST">(-6:00) Central Time</option>
                                        <option value="13#DST">(-6:00) Mexico</option>
                                        <option value="14">(-6:00) Saskatchewan</option>
                                        <option value="15">(-5:00) Bogota, Lima</option>
                                        <option value="16#DST">(-5:00) Eastern Time</option>
                                        <option value="17#DST">(-5:00) Indiana</option>
                                        <option value="18">(-4:30) Caracas</option>
                                        <option value="19#DST">(-4:00) Asuncion</option>
                                        <option value="20#DST">(-4:00) Atlantic Time</option>
                                        <option value="103">(-4:00) Atlantic Time (Puerto Rico)</option>
                                        <option value="21#DST">(-4:00) Cuiaba</option>
                                        <option value="22">(-4:00) La Paz, San Juan</option>
                                        <option value="23#DST">(-4:00) Santiago</option>
                                        <option value="24#DST">(-3:30) Newfoundland</option>
                                        <option value="25#DST">(-3:00) Brasilia</option>
                                        <option value="26">(-3:00) Buenos Aires</option>
                                        <option value="27">(-3:00) Cayenne</option>
                                        <option value="29#DST">(-3:00) Montevideo</option>
                                        <option value="30">(-3:00) Salvador</option>
                                        <option value="33#DST">(-1:00) Azores</option>
                                        <option value="34">(-1:00) Cape Verde Is.</option>
                                        <option value="35#DST">(0:00) Casablanca</option>
                                        <option value="37#DST">(0:00) Dublin, Lisbon, London</option>
                                        <option value="38">(0:00) Monrovia, Reykjavik</option>
                                        <option value="39#DST">(+1:00) Amsterdam, Berlin</option>
                                        <option value="40#DST">(+1:00) Belgrade</option>
                                        <option value="41#DST">(+1:00) Brussels, Paris</option>
                                        <option value="42#DST">(+1:00) Sarajevo</option>
                                        <option value="43">(+1:00) Tripoli</option>
                                        <option value="54#DST">(+2:00) Amman</option>
                                        <option value="45#DST">(+2:00) Athens, Bucharest</option>
                                        <option value="46#DST">(+2:00) Beirut</option>
                                        <option value="47">(+2:00) Cairo</option>
                                        <option value="48#DST">(+2:00) Damascus</option>
                                        <option value="49#DST">(+2:00) East Europe</option>
                                        <option value="51#DST">(+2:00) Helsinki, Kyiv</option>
                                        <option value="52#DST">(+2:00) Istanbul</option>
                                        <option value="53#DST">(+2:00) Jerusalem</option>
                                        <option value="55">(+3:00) Baghdad</option>
                                        <option value="57">(+3:00) Kuwait, Riyadh</option>
                                        <option value="56">(+3:00) Minsk</option>
                                        <option value="59#DST">(+3:30) Tehran</option>
                                        <option value="60">(+4:00) Abu Dhabi</option>
                                        <option value="62">(+4:00) Moscow</option>
                                        <option value="66">(+4:30) Kabul</option>
                                        <option value="67">(+5:00) Islamabad</option>
                                        <option value="68">(+5:00) Tashkent</option>
                                        <option value="69">(+5:30) Mumbai, New Delhi</option>
                                        <option value="70">(+5:30) Sri Lanka</option>
                                        <option value="71">(+5:45) Kathmandu</option>
                                        <option value="72">(+6:00) Astana</option>
                                        <option value="73">(+6:00) Dhaka</option>
                                        <option value="75">(+6:30) Yangon</option>
                                        <option value="76">(+7:00) Bangkok</option>
                                        <option value="78">(+8:00) Beijing, Hong Kong</option>
                                        <option value="80">(+8:00) Kuala Lumpur, Singapore</option>
                                        <option value="81">(+8:00) Perth</option>
                                        <option value="82">(+8:00) Taipei</option>
                                        <option value="85">(+9:00) Osaka, Tokyo</option>
                                        <option value="86">(+9:00) Seoul</option>
                                        <option value="87#DST">(+9:30) Adelaide</option>
                                        <option value="88">(+9:30) Darwin</option>
                                        <option value="89">(+10:00) Brisbane</option>
                                        <option value="90#DST">(+10:00) Canberra, Sydney</option>
                                        <option value="91">(+10:00) Guam, Port Moresby</option>
                                        <option value="94">(+11:00) New Caledonia</option>
                                        <option value="95">(+11:00) Vladivostok</option>
                                        <option value="96#DST">(+12:00) Auckland, Wellington</option>
                                    </select>
                                </div>
                                <div id="contactInfoError" class="requiredIdentifier">*Required fields</div>
                            </div><!-- END .formContainer-fields -->

                            <div class="formContainer-ft">
                                <div class="formField">
                                    <input type="checkbox" class="input input_checkbox" id="terms_check" checked="checked">
                                    <label for="terms_check">
                                        Chamberlain may send me information on new products and services.
                                    </label>
                                </div>
                                <a href="registerAccount2.html" class="btn btn_next">Next
                                    <i class="fa fa-refresh fa-spin" id="registerLoader"></i>
                                </a>
                                <span id="newUserErrorMessage"></span>
                            </div>
                        </div><!-- End .formContainer -->

                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
