---
title: Register Your Gateway
theme: chamberlain
layout: page.hbs
---

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Register Your Gateway</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <ol class="centeredList">
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">1</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">2</span>
                            </li>
                            <li class="registerStep registerStep_active">
                                <span class="registerStep-step">3</span>
                            </li>
                            <li class="registerStep">
                                <span class="registerStep-step">4</span>
                            </li>
                        </ol><!-- END .vList -->

                        <div class="formContainer">
                            <div class="formField">
                                <p class="helpText">Enter MyQ serial number:</p>
                                <p>The 10-digit MyQ serial number (1234 567 89A) can be found on a label on the device or on the front of the manual. <a href="#">Find MyQ Serial Number</a></p>
                            </div>
                            <div class="formContainer-fields">
                                <div class="formField">
                                    <div class="inputGroup">
                                        <input id="gatewaySerialNumber1" maxlength="4" class="input input_serial gatewaySerialPart" type="text">
                                        <input id="gatewaySerialNumber2" maxlength="3" class="input input_serial gatewaySerialPart" type="text">
                                        <input id="gatewaySerialNumber3" maxlength="3" class="input input_serial gatewaySerialPart" type="text">
                                    </div>
                                </div>
                            </div><!-- END .formContainer-fields -->

                            <p class="helpText">Now, Enter a name for your place...</p>
                            <div class="formContainer">
                                <div class="formContainer-fields">
                                    <div class="formField">
                                        <span class="regError" id="new_first_name_error">Please enter a first name.</span>
                                        <label class="label label_hidden" for="new_first_name">First Name</label>
                                        <input type="text" class="input input_block" id="newGatewayName">
                                    </div>
                                </div>
                            </div><!-- END .formContainer-fields -->

                            <div class="formContainer-ft">
                                <a href="registerAccount3.html" class="btn btn_next">Add
                                    <i class="fa fa-refresh fa-spin" id="registerLoader"></i>
                                </a>
                                <span id="newUserErrorMessage"></span>
                            </div>
                        </div><!-- End .formContainer -->

                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
