---
title: User Created | MyQ Chamberlain
theme: chamberlain
layout: page.hbs
---

<script>
    // Do not include in production
    function nextPage() {
        window.location = 'registrationFinalStep.html';
    };
    setTimeout(nextPage, 6000);
</script>

<div class="cardContainer cardContainer_pad">
    <div class="container">

        <div class="grid">
            <div class="grid-col_8of12_centered">
                <div class="card">
                    <div class="card-hd">
                        <h1 class="card-hd-title">Verify Email</h1>
                    </div><!-- END .card-hd -->

                    <div class="card-bd">
                        <h2 class="hdg hdg_2">Verify Your Email</h2>
                        <p>An email has been sent to you. Please check your email inbox to complete the registration process. Please check your junk / spam folder for the MyQ verification email if it's not in your inbox.</p>
                    </div><!-- END .card-bd -->
                </div><!-- End .card -->

            </div><!-- END .grid-col -->
        </div><!-- END .grid -->
    </div><!-- END .container -->
</div><!-- End .cardContainer -->

{{> footerWidgets}}
