
/* ---------------------------------------------------------------------------
 stackList -- Lays out horizontally on desktop but stacks vertically on mobile
 ----------------------------------------------------------------------------- */

// Clear Floats
// .stackList {
//     .mixin-clearfix();
// }

.stackList {
    padding-top: 30px;
}

.stackList > * {
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
}
