
/* ---------------------------------------------------------------------
 stackList Desktop Styles
 ----------------------------------------------------------------------- */

.stackList {
    padding-top: 0;
}

.stackList > * {
    display: inline-block;
    width: auto;
    margin-top: 0;
    text-align: right;

    i {
        padding: 6px 0 0;
    }
}

.stackList > * + * {
    margin-left: 10px;
}
