<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="">

    <!-- Google Font Import -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

    <!-- Font Awesome Import -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Base Styles -->
    <link href="Assets/styles/base.css" rel="stylesheet" media="screen">

    <!-- Styles for Chamberlain Theme -->
    <link href="Assets/styles/theme_{{theme}}.css" rel="stylesheet" media="screen">

</head>
<body>

    {{> mobileMenu}}

    <div class="pageContainer">
        <header role="banner">
            <div class="header">

                {{> headerCrown}}

                <div class="container isHiddenSmall">
                    <div class="grid">
                        <div class="grid-col grid-col_4of12">
                            <a href="dashboard.html"><img class="appLogo appLogo_high" src="Assets/images/logo-{{theme}}@2x.png" alt=""></a>
                        </div>

                        <div class="grid-col grid-col_8of12">
                            <div class="pullNav" role="navigation">
                                <ul class="stackList">
                                    <li>
                                        <a class="btn btn_icon mix-btn_lmwhite" href="manageAccount{{extension}}.html"><i class="fa fa-user fa-2x"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn_icon mix-btn_lmwhite" href="#"><i class="fa fa-question-circle fa-2x"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn_block mix-btn_lmgray" href="index{{extension}}.html">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- END .grid -->
                </div><!-- END .isHiddenSmall -->

                <div class="container isVisibleSmall">
                    <a class="btn btn_icon btn_left js-openMobileNav" href="#"><i class="fa fa-reorder fa-2x"></i></a>
                    <img class="appLogo appLogo_right" src="Assets/images/logo-{{theme}}@2x.png" alt="">
                </div><!-- END .isVisibleSmall -->

            </div><!-- END .header -->
        </header>




        <!-- ############################## -->
        <!--          PAGE CONTENT          -->
        <!-- ############################## -->

        <main role="main">

            {{> body}}

        </main>

        <!-- ############################## -->
        <!--        END PAGE CONTENT        -->
        <!-- ############################## -->




        {{> footer}}


    </div><!-- END .pageContainer -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Uncomment for development -->
    <script src="Assets/scripts/scripts.js"></script>

    <!-- Uncomment for production -->
    <!-- <script src="Assets/scripts/scripts.min.js"></script> -->

</body>
</html>
