<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="">

    <!-- Google Font Import -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>

    <!-- Font Awesome Import -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Base Styles -->
    <link href="Assets/styles/base.css" rel="stylesheet" media="screen">

    <!-- Styles for Chamberlain Theme -->
    <link href="Assets/styles/theme_{{theme}}.css" rel="stylesheet" media="screen">

</head>
<body>

    <header role="banner">
        <div class="header mix-header_center">

            {{> headerCrown}}

            <div class="container">
                <div class="grid">
                    <div class="grid-col grid-col_4of12">
                        <img class="appLogo" src="Assets/images/logo-{{theme}}@2x.png" alt="">
                        <p class="isVisibleSmall">
                            <strong>Control your devices from your smart phone. Anytime. Anywhere.</strong>
                        </p>
                    </div>

                    <div class="grid-col grid-col_8of12">
                        <div class="pullNav" role="navigation">
                            <ul class="stackList">
                                <li>
                                    <!-- <label class="label" for="username">Username</label> -->
                                    <input class="input" type="text" name="username" placeholder="Email Address"/>
                                    <div class="checkbox">
                                        <input class="input input_checkbox" type="checkbox" name="rememberMe" id="rememberMe">
                                        <label for="rememberMe">Remember Me</label>
                                    </div>
                                </li>
                                <li>
                                    <!-- <label class="label" for="password">Password</label> -->
                                    <input class="input" type="password" name="password" placeholder="Password"/>
                                    <div class="checkbox">
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn btn_block" href="dashboard{{extension}}.html">Login</a>
                                </li>
                                <li>
                                    <a class="btn btn_alt btn_block" href="createAccount{{extension}}.html">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END .grid -->
            </div>

        </div><!-- END .header -->
    </header>




    <!-- ############################## -->
    <!--          PAGE CONTENT          -->
    <!-- ############################## -->

    <main role="main">

        {{> body}}

    </main>

    <!-- ############################## -->
    <!--        END PAGE CONTENT        -->
    <!-- ############################## -->




    {{> footer}}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Uncomment for development -->
    <script src="Assets/scripts/scripts.js"></script>

    <!-- Uncomment for production -->
    <!-- <script src="Asstes/scripts/scripts.min.js"></script> -->

</body>
</html>
