
/* ---------------------------------------------------------------------
 Buttons Liftmaster
 ----------------------------------------------------------------------- */

.btn {
    background-color: @COLOR_BLACK;
    border: 1px solid @COLOR_BLACK;
}

.btn:hover,
.btn:active {
    color: white;
    background-color: darken(@COLOR_BLACK, 8);
    border: 1px solid darken(@COLOR_BLACK, 8);
}

.btn_next {
    background-color: @COLOR_BLACK;
    color: #ffffff;
    border: 1px solid @COLOR_BLACK;
}

.btn_next:hover,
.btn_next:active {
    background-color: lighten(@COLOR_BLACK, 8);
    border: 1px solid @COLOR_BLACK;
}

.btn_alt {
    background-color: #ffffff;
    color: @COLOR_BLACK;
    border: 1px solid @COLOR_BLACK;
}

.btn_alt:hover,
.btn_alt:active {
    background-color: @COLOR_BLACK;
    border: 1px solid @COLOR_BLACK;
}

.btn_icon {
    color: @COLOR_BLACK;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn_icon:hover,
.btn_icon:active {
    color: @COLOR_GRAY;
    background-color: transparent;
    border: 1px solid transparent;
}

.mix-btn_orange {
    color: @COLOR_RED;
}

.mix-btn_lmwhite {
    color: white;
    &:hover { color: #acacac; }
}

.mix-btn_lmgray {
    background-color: #949494;
    border-color: #949494;
    &:hover {
        background-color: darken(#949494, 8);
        border-color: #949494;
    }
}
