
/* ---------------------------------------------------------------------
 Buttons
 ----------------------------------------------------------------------- */

.btn {
    display: inline-block;
    min-width: 60px;
    margin: 0;
    padding: 10px 18px;
    border-radius: @BORDER_RADIUS;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    color: #ffffff;
}

.btn_alt:hover,
.btn_alt:active {
    color: #ffffff;
}

.btn_icon {
    padding: 0;
    min-width: 40px;
    vertical-align: baseline;
}

.btn_narrow {
    padding: 6px;
}

.btn_block {
    display: block;
}

.btn_large {
    padding: 20px 18px;
    margin-bottom: 20px;
    font-size: 14px;
    position: relative;

    i {
        position: absolute;
        right: 18px;
        top: 50%;
        margin-top: -9px;
    }
}

.btn_rule {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
