
/* ---------------------------------------------------------------------
 Buttons Small
 ----------------------------------------------------------------------- */

.btn_large {
    font-size: 18px;
}
