
/* ---------------------------------------------------------------------
 Buttons Chamberlain
 ----------------------------------------------------------------------- */

.btn {
    background-color: @COLOR_ORANGE;
    border: 1px solid @COLOR_ORANGE;
}

.btn:hover,
.btn:active {
    color: white;
    background-color: darken(@COLOR_ORANGE, 8);
    border: 1px solid darken(@COLOR_ORANGE, 8);
}

.btn_alt {
    background-color: #ffffff;
    color: @COLOR_BLUE;
    border: 1px solid @COLOR_BLUE;
}

.btn_alt:hover,
.btn_alt:active {
    background-color: @COLOR_BLUE;
    border: 1px solid @COLOR_BLUE;
}

.btn_next {
    background-color: @COLOR_BLUE;
    color: #ffffff;
    border: 1px solid @COLOR_BLUE;
}

.btn_next:hover,
.btn_next:active {
    background-color: @COLOR_BLUE;
    border: 1px solid @COLOR_BLUE;
}

.btn_cancel {
    background-color: @COLOR_LTGRAY;
    color: @COLOR_GRAY;
    border: 1px solid @COLOR_TAN;
}

.btn_icon {
    color: @COLOR_BLUE;
    background-color: transparent;
    border: 1px solid transparent;
}

.btn_icon:hover,
.btn_icon:active {
    color: @COLOR_ORANGE;
    background-color: transparent;
    border: 1px solid transparent;
}

.mix-btn_orange {
    color: @COLOR_ORANGE;
}
