
/* ---------------------------------------------------------------------
 iconImage Liftmaster
 ----------------------------------------------------------------------- */

.iconImage_login {
    background-image: url(../images/iconImage-login_liftmaster.png);
}

.iconImage_wifi {
    background-image: url(../images/iconImage-wifi_liftmaster.png);
}

.iconImage_user {
    background-image: url(../images/iconImage-user_liftmaster.png);
}
