
/* ---------------------------------------------------------------------
 iconImage Chamberlain
 ----------------------------------------------------------------------- */

.iconImage_login {
    background-image: url(../images/iconImage-login_chamberlain.png);
}

.iconImage_wifi {
    background-image: url(../images/iconImage-wifi_chamberlain.png);
}

.iconImage_user {
    background-image: url(../images/iconImage-user_chamberlain.png);
}
