
/* ---------------------------------------------------------------------
 iconImage
 ----------------------------------------------------------------------- */

.iconImage {
    display: block;
    width: 80px;
    height: 67px;
    margin: 0 auto;
    background-size: 80px 67px;
    background-repeat: no-repeat;
    background-position: center center;
}
