
/* ---------------------------------------------------------------------
 Links Liftmaster
 ----------------------------------------------------------------------- */

.link_alt {
    color: #949494;
}

.link_alt:hover {
    color: @COLOR_RED;
}
