
/* ---------------------------------------------------------------------
 Links
 ----------------------------------------------------------------------- */

.link_alt {
    color: white;
    text-decoration: none;
}

.link_hasIcon {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}
