
/* ---------------------------------------------------------------------
 Links Chamberlain
 ----------------------------------------------------------------------- */

.link_alt:hover {
    color: @COLOR_ORANGE;
}
