
/* ---------------------------------------------------------------------
 Label
 ----------------------------------------------------------------------- */

.label {
    display: block;
    margin: 2px 0 0;
    padding: 0;
    width: 100%;
    font-family: @FONT_FAMILY_OPENSANS;
    font-size: 12px;
    text-align: left;
    -webkit-appearance: none;
}

.label_hidden {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.label_inline {
    display: inline-block;
    width: auto;
    min-width: 40px;
}
