
/* ---------------------------------------------------------------------
 Headings
 ----------------------------------------------------------------------- */

.hdg {
    font-family: @FONT_FAMILY_OPENSANS;
    font-size: 24px;
    font-weight: @FONT_WEIGHT_NORMAL;
}

.hdg_3 {
    font-size: 20px;
    font-weight: @FONT_WEIGHT_BOLD;
    text-transform: uppercase;
}

.hdg_center { text-align: center; }
