
/* ---------------------------------------------------------------------
 Headings Small
 ----------------------------------------------------------------------- */

.mix-hdg_highlighted {
    float: right;
    width: auto;
    padding-right: 20px;
    text-align: right;

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        margin-left: 10px;
        position: absolute;
        left: 100%;
        background: rgba(245,132,48,0.5);
    }
}

.mix-hdg_highlighted-alt {
    color: @COLOR_ORANGE;
    background: rgba(255,255,255,0.6);
    box-shadow: 10px 0 0 rgba(255,255,255,0.6), -10px 0 0 rgba(255,255,255,0.6);

    &:after {
        background: rgba(255,255,255,0.6);
    }
}
.hdg {
    font-size: 36px;
}
