
/* ---------------------------------------------------------------------
 flipper
 ----------------------------------------------------------------------- */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flipper.flipped {
    transform: rotateY(180deg);
}

.flipper-front,
.flipper-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}

.flipper-front {
    z-index: 2;
}

.flipper-back {
    transform: rotateY(180deg);
    background: #f8f8f8;
}
