
/* ---------------------------------------------------------------------
 mobileLink Liftmaster
 ----------------------------------------------------------------------- */

.mobileLink:active {
    background-color: #222222;
}
