
/* ---------------------------------------------------------------------
 mobileLink Chamberlain
 ----------------------------------------------------------------------- */

.mobileLink:active {
    background-color: #2A3742;
}
