
/* ---------------------------------------------------------------------
 mobileLink
 ----------------------------------------------------------------------- */

.mobileLink {
    display: block;
    position: relative;
    width: 66%;
    padding: 13px 10% 13px 24%;
    font-size: 24px;
    color: white;
    background: transparent;
}

.mobileLink:active {
    color: white;
    box-shadow: inset -20px 0px 40px rgba(0,0,0,0.5);
}

.mobileLink-icon {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 24px;
    height: auto;
}
