
/* ---------------------------------------------------------------------
 formField
 ----------------------------------------------------------------------- */

.formField {
    position: relative; /* Necessary for hiding checkboxes & radio buttons */
    overflow: hidden;
    margin-bottom: 10px;
}
