
/* ---------------------------------------------------------------------
 regError
 ----------------------------------------------------------------------- */

.regError {
    display: none;
    color: red;
}
