
/* ---------------------------------------------------------------------
 appIcon
 ----------------------------------------------------------------------- */

.appIcon {
    display: inline-block;
    margin: 15px 15px 0 0;
    padding: 0;
    width: 100px;
}

.appIcon-img {
    width: 100%;
    height: auto;
}
