
/* ---------------------------------------------------------------------
 Triangle Section Liftmaster
 ----------------------------------------------------------------------- */

.triangleSection {
    border-top: 2px solid @COLOR_RED;
    border-bottom: 1px solid @COLOR_LTGRAY;
}

.triangleSection-triangle {
    border-top: 30px solid @COLOR_RED;
}
