
/* ---------------------------------------------------------------------
 Triangle Section
 ----------------------------------------------------------------------- */

.triangleSection {
    position: relative;
    padding: 80px 0 60px;
    margin-bottom: 60px;
    border-top: 2px solid @COLOR_ORANGE;
    border-bottom: 1px solid @COLOR_TAN;
    background-color: @COLOR_LTGRAY;
}

.triangleSection-triangle {
    width: 0;
    height: 0;
    margin-left: -30px;
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid @COLOR_ORANGE;
}
