
/* ---------------------------------------------------------------------
 Triangle Section Chamberlain
 ----------------------------------------------------------------------- */

.triangleSection {
    border-top: 2px solid @COLOR_ORANGE;
}

.triangleSection-triangle {
    border-top: 30px solid @COLOR_ORANGE;
}
