
/* ---------------------------------------------------------------------
 Triangle Section
 ----------------------------------------------------------------------- */

.triangleSection {
    padding: 80px 0 60px;
    margin-bottom: 60px;
    background-color: #ffffff;
}

