
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer {
    background: @COLOR_BLUE;
}
