
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer {
    margin: 40px 0 0;
    padding: 30px 0;
    color: white;
}
