
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer {
    background: @COLOR_WHITE;
    color: #949494;
    border-top: 1px solid @COLOR_LTGRAY;
}
