
/* ---------------------------------------------------------------------
 flipperContainer
 ----------------------------------------------------------------------- */

.flipperContainer {
    perspective: 1000;
    width: 100%;
    margin-bottom: 60px;
    transition: height 0.2s linear;
}
