
/* ---------------------------------------------------------------------
 flipperContainer Small
 ----------------------------------------------------------------------- */

.flipperContainer_left {
    width: 96%;
    margin-right: 4%;
}

.flipperContainer_right {
    width: 96%;
    margin-left: 4%;
}
