
/* ---------------------------------------------------------------------
 card
 ----------------------------------------------------------------------- */

@CARD_PADDING: 40px;

.card {
    position: relative;
    padding: @CARD_PADDING*2 @CARD_PADDING/2 @CARD_PADDING;
    background: #ffffff;
    min-height: 340px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.card_small {
    padding: @CARD_PADDING*2 @CARD_PADDING/2 @CARD_PADDING;
}

.card_hidden { display: none; }

.card-hd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.card-hd-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    font-weight: @FONT_WEIGHT_BOLD;
}

.card-actions {
    position: absolute;
    top: @CARD_PADDING*1.25;
    right: @CARD_PADDING/4;
    left: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.card-actions > * {
    display: inline-block;
}

.card-bd {
    padding: 30px 0 15px;
}
