
/* ---------------------------------------------------------------------
 card Small Device
 ----------------------------------------------------------------------- */

@CARD_PADDING: 40px;

.card {
    padding: @CARD_PADDING*2 @CARD_PADDING @CARD_PADDING;
}

.card_small {
    padding: @CARD_PADDING*2 @CARD_PADDING @CARD_PADDING;
}

.card-hd {
    top: @CARD_PADDING;
    left: -(@CARD_PADDING/2);
    right: auto;
}

.card-hd:before {
    content: "";
    position: absolute;
    bottom: -(@CARD_PADDING/4);
    left: 0;
    width: 0;
    height: 0;
    border-top: (@CARD_PADDING/4) solid transparent;
    border-bottom: (@CARD_PADDING/4) solid transparent;
    border-right: (@CARD_PADDING/2) solid darken(@COLOR_BLUE, 10);
    z-index: -1;
}

.card-hd-title {
    display: inline-block;
    margin: 0;
    padding: 10px 40px;
    width: auto;
    text-align: left;
    font-size: 20px;
}

.card-actions {
    top: @CARD_PADDING;
    right: @CARD_PADDING;
}

.card-bd {
    padding: 60px 0 30px;
}
