
/* ---------------------------------------------------------------------
 card Chamberlain
 ----------------------------------------------------------------------- */

.card-hd-title {
    background: @COLOR_BLUE;
}
