
/* ---------------------------------------------------------------------
 card Liftmaster
 ----------------------------------------------------------------------- */

.card-hd-title {
    background: @COLOR_BLACK;
}
