
/* ---------------------------------------------------------------------
 learnLoader Chamberlain
 ----------------------------------------------------------------------- */

.learnLoader {
    color: @COLOR_ORANGE;
}
