
/* ---------------------------------------------------------------------
 learnLoader
 ----------------------------------------------------------------------- */

.learnLoader {
    margin:  0 auto;
    text-align: center;
}
