
/* ---------------------------------------------------------------------
 learnLoader Liftmaster
 ----------------------------------------------------------------------- */

.learnLoader {
    color: @COLOR_RED;
}
