
/* ---------------------------------------------------------------------
 12 Column mobileGrid
 ----------------------------------------------------------------------- */

// Clear Floats
.mobileGrid {
    .mixin-clearfix();
}

.mobileGrid-col { float: left; }
.mobileGrid-col + .mobileGrid-col { margin-left: 2.127663%; }

.mobileGrid-col_1of12 { width: 6.382989%; }
.mobileGrid-col_2of12 { width: 14.893641%; }
.mobileGrid-col_3of12 { width: 23.404293%; }
.mobileGrid-col_4of12 { width: 31.914945%; }
.mobileGrid-col_5of12 { width: 40.425597%; }
.mobileGrid-col_6of12 { width: 48.936249%; }
.mobileGrid-col_7of12 { width: 57.446901%; }
.mobileGrid-col_8of12 { width: 65.957553%; }
.mobileGrid-col_9of12 { width: 74.468205%; }
.mobileGrid-col_10of12 { width: 82.978857%; }
.mobileGrid-col_11of12 { width: 91.489509%; }
.mobileGrid-col_12of12 { width: 100%; }
