
/* ---------------------------------------------------------------------
 fancySelect Liftmaster
 ----------------------------------------------------------------------- */

div.fancy-select ul.options li.selected {
        background: @COLOR_BLACK;
}
