
/* ---------------------------------------------------------------------
 fancySelect
 https://github.com/octopuscreative/FancySelect
 ----------------------------------------------------------------------- */

div.fancy-select {
        position: relative;
}

div.fancy-select.disabled {
        opacity: 0.5;
}

div.fancy-select div.trigger {
        cursor: pointer;
        padding: 0 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        width: 56px;
        height: 13px;

        transition: all 240ms ease-out;
        -webkit-transition: all 240ms ease-out;
        -moz-transition: all 240ms ease-out;
        -ms-transition: all 240ms ease-out;
        -o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: #ffffff;
        top: 4px;
        right: 0;
}

div.fancy-select div.trigger.open {
}

div.fancy-select div.trigger.open:after {
        border-top-color: @COLOR_LTGRAY;
}

div.fancy-select ul.options {
        list-style: none;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 50;
        max-height: 200px;
        overflow: auto;
        color: @COLOR_GRAY;
        background: @COLOR_LTGRAY;
        border-radius: @BORDER_RADIUS;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        min-width: 140px;

        transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
        -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
        visibility: visible;
        top: 32px;
        opacity: 1;

        /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
        /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
        transition: opacity 300ms ease-out, top 300ms ease-out;
        -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
        -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
        -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
        -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

// div.fancy-select ul.options.overflowing {
//         top: auto;
//         bottom: 40px;

//         transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
//         -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
//         -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
//         -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
//         -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
// }

// div.fancy-select ul.options.overflowing.open {
//         top: auto;
//         bottom: 50px;

//         transition: opacity 300ms ease-out, bottom 300ms ease-out;
//         -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
//         -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
//         -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
//         -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
// }

div.fancy-select ul.options li {
        padding: 8px 12px;
        cursor: pointer;
        white-space: nowrap;

        transition: all 150ms ease-out;
        -webkit-transition: all 150ms ease-out;
        -moz-transition: all 150ms ease-out;
        -ms-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
    color: #ffffff;

    &:hover {
        color: #ffffff;
    }
}

div.fancy-select ul.options li.hover {
        color: @COLOR_BLUE;
}
