
/* ---------------------------------------------------------------------
 fancySelect Chamberlain
 ----------------------------------------------------------------------- */

div.fancy-select ul.options li.selected {
        background: @COLOR_BLUE;
}
