
/* ---------------------------------------------------------------------
 Global Styles Liftmaster
 ----------------------------------------------------------------------- */

a {
    color: #777777;
    text-decoration: underline;
}

a:hover {
    color: #acacac;
}
