
/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */

body {
    font-family: @FONT_FAMILY_OPENSANS;
    font-size: 14px;
    font-weight: @FONT_WEIGHT_BOLD;
    line-height: 1.6;
    color: @COLOR_GRAY;
}

a {
    color: @COLOR_BLUE;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 600;
}

select:focus,
input:focus {
    font-size: 16px; /* Prevents iOS zooming effect */
}

label { cursor: pointer; }
