
/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */

a {
    color: #f57e27;
    text-decoration: underline;
}

a:hover {
    color: #f38a00;
}

