
/* ---------------------------------------------------------------------
 inputGroup
 ----------------------------------------------------------------------- */

.inputGroup {
    text-align: center;
}

.inputGroup > * {
    display: inline-block;
}
