
/* ---------------------------------------------------------------------
 Container
 ----------------------------------------------------------------------- */

.container {
    .mixin-clearfix();

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
