
/* ---------------------------------------------------------------------
 formContainer
 ----------------------------------------------------------------------- */

.formContainer-fields {
    padding: 15px 15px 5px;
    margin-bottom: 20px;
    background-color: @COLOR_LTGRAY;
    border: 1px solid @COLOR_GRAY;
    border-radius: @BORDER_RADIUS*2;
}

.formContainer-indent {
    padding: 10px 0 0 0;
}

.formContainer-ft_pad {
    padding: 40px 0 0 0;
}

.formContainer-callous {
    padding: 15px 0 0;
}
