
/* ---------------------------------------------------------------------
 Device Liftmaster
 ----------------------------------------------------------------------- */

.device-loader {
    color: @COLOR_RED;
}
