
/* ---------------------------------------------------------------------
 Device
 ----------------------------------------------------------------------- */

.device {
    text-align: center;
    position: relative;
}

.device-location {
    font-size: 18px;
    text-transform: uppercase;
}

.device-img {
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: auto;
    z-index: 2;
}

.device-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin-left: -16.5px;
}
