
/* ---------------------------------------------------------------------
 Device Chamberlain
 ----------------------------------------------------------------------- */

.device-loader {
    color: @COLOR_ORANGE;
}
