
/* ---------------------------------------------------------------------
 cardContainer
 ----------------------------------------------------------------------- */

.cardContainer {
    margin: 0 0 40px;
    padding: 20px 0 0;
    background: @COLOR_LTGRAY;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
}

.cardContainer_pad {
    padding: 20px 0;
}
