
/* ---------------------------------------------------------------------
 cardContainer Small
 ----------------------------------------------------------------------- */

.cardContainer {
    padding: 40px 0 0;
}

.cardContainer_pad {
    padding: 40px 0;
}
