
/* ---------------------------------------------------------------------
 Box Liftmaster
 ----------------------------------------------------------------------- */

.box {
    background: @COLOR_LTGRAY;
}

.box-media_tips { background-image: url(../images/box-media-tips_liftmaster@2x.png); }
.box-media_download { background-image: url(../images/box-media-download_liftmaster@2x.png); }
.box-media_shop { background-image: url(../images/box-media-shop_liftmaster@2x.png); }
.box-media_community { background-image: url(../images/box-media-community_liftmaster@2x.png); }
