
/* ---------------------------------------------------------------------
 Box Small
 ----------------------------------------------------------------------- */

.box-media {
    float: left;
    margin: 0 20px 0 0;
}
