
/* ---------------------------------------------------------------------
 Box
 ----------------------------------------------------------------------- */

.box {
    .mixin-clearfix();

    margin: 0 0 20px;
    padding: 20px;
    // border-radius: @BORDER_RADIUS;
}

.box-media {
    float: none;
    width: 85px;
    height: 85px;
    margin: 0 auto 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.box-bd {
    overflow: hidden;
}
