
/* ---------------------------------------------------------------------
 Box Chamberlain
 ----------------------------------------------------------------------- */

.box {
    background: @COLOR_LTBLUE;
}

.box-media_tips { background-image: url(../images/box-media-tips_chamberlain@2x.png); }
.box-media_download { background-image: url(../images/box-media-download_chamberlain@2x.png); }
.box-media_shop { background-image: url(../images/box-media-shop_chamberlain@2x.png); }
.box-media_community { background-image: url(../images/box-media-community_chamberlain@2x.png); }
