
/* ---------------------------------------------------------------------
 languageSelect
 ----------------------------------------------------------------------- */

.mix-languageSelect_center {
    float: right;
}
