
/* ---------------------------------------------------------------------
 languageSelect
 ----------------------------------------------------------------------- */

.languageSelect {
    .mixin-clearfix();

    display: block;
    width: 140px;
    padding: 8px 0 0;
    margin: 0;
    float: right;
    font-size: 11px;
    line-height: 1;
    color: #ffffff;
}

.languageSelect-label {
    float: left;
    margin-right: 5px;
}

.mix-languageSelect_center {
    float: none;
    margin: 0 auto;
}
