
/* ---------------------------------------------------------------------
 helptext
 ----------------------------------------------------------------------- */

.helpText {
    font-size: 18px;
    margin-bottom: 20px;
}
