/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)

 ---------------------------------------------------------- */

/* ---------------------------------------------------------------------
 Reset
 ----------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */

body
{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;

    color: #666;
}

a
{
    text-decoration: none;

    color: #1e3150;
}

img
{
    max-width: 100%;
    height: auto;
}

strong
{
    font-weight: 600;
}

select:focus,
input:focus
{
    font-size: 16px;
  /* Prevents iOS zooming effect */
}

label
{
    cursor: pointer;
}

.mixin-gradient
{
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
    background:         linear-gradient(to bottom, #fff 40%, #f0f0f0 100%);
}

.mixin-clearfix:before,
.mixin-clearfix:after
{
    display: table;

    content: ' ';
}

.mixin-clearfix:after
{
    clear: both;
}

/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer
{
    margin: 40px 0 0;
    padding: 30px 0;

    color: white;
}

/* ---------------------------------------------------------------------
 Header
 ----------------------------------------------------------------------- */

.header
{
    padding: 0 0 30px;

    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
            background-size: cover;
}

.header-crown
{
    margin-bottom: 15px;
    padding: 0 0 8px;
}

.mix-header_center
{
    text-align: center;
}

/* ---------------------------------------------------------------------
 appIcon
 ----------------------------------------------------------------------- */

.appIcon
{
    display: inline-block;

    width: 100px;
    margin: 15px 15px 0 0;
    padding: 0;
}

.appIcon-img
{
    width: 100%;
    height: auto;
}

/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.appLogo
{
    display: block;

    width: 100%;
    height: auto;
    margin: 0 auto 15px;
}

.appLogo_right
{
    float: right;

    width: 60%;
    margin: 10px 0 0;
}

/* ---------------------------------------------------------------------
 Box
 ----------------------------------------------------------------------- */

.box
{
    margin: 0 0 20px;
    padding: 20px;
}

.box:before,
.box:after
{
    display: table;

    content: ' ';
}

.box:after
{
    clear: both;
}

.box-media
{
    float: none;

    width: 85px;
    height: 85px;
    margin: 0 auto 10px;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}

.box-bd
{
    overflow: hidden;
}

/* ---------------------------------------------------------------------
 Buttons
 ----------------------------------------------------------------------- */

.btn
{
    font-size: 12px;
    font-weight: 600;
    line-height: 1;

    display: inline-block;

    min-width: 60px;
    margin: 0;
    padding: 10px 18px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 6px;
}

.btn:hover,
.btn:active
{
    color: #fff;
}

.btn_alt:hover,
.btn_alt:active
{
    color: #fff;
}

.btn_icon
{
    min-width: 40px;
    padding: 0;

    vertical-align: baseline;
}

.btn_narrow
{
    padding: 6px;
}

.btn_block
{
    display: block;
}

.btn_large
{
    font-size: 14px;

    position: relative;

    margin-bottom: 20px;
    padding: 20px 18px;
}

.btn_large i
{
    position: absolute;
    top: 50%;
    right: 18px;

    margin-top: -9px;
}

.btn_rule
{
    position: relative;

    overflow: hidden;

    cursor: pointer;
}

/* ---------------------------------------------------------------------
 card
 ----------------------------------------------------------------------- */

.card
{
    position: relative;

    min-height: 340px;
    padding: 80px 20px 40px;

    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
            box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.card_small
{
    padding: 80px 20px 40px;
}

.card_hidden
{
    display: none;
}

.card-hd
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
}

.card-hd-title
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    display: block;

    width: 100%;
    margin: 0;
    padding: 10px 0;

    text-align: center;

    color: #fff;
}

.card-actions
{
    position: absolute;
    top: 50px;
    right: 10px;
    left: auto;

    margin: 0;
    padding: 0;

    list-style: none;
}

.card-actions > *
{
    display: inline-block;
}

.card-bd
{
    padding: 30px 0 15px;
}

/* ---------------------------------------------------------------------
 cardContainer
 ----------------------------------------------------------------------- */

.cardContainer
{
    margin: 0 0 40px;
    padding: 20px 0 0;

    background: #f0f0f0;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.cardContainer_pad
{
    padding: 20px 0;
}

/* ---------------------------------------------------------------------
 centeredList
 ----------------------------------------------------------------------- */

.centeredList
{
    list-style: none;

    text-align: center;
}

.centeredList > *
{
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */

.checkbox
{
    font-size: 13px;

    overflow: hidden;

    text-align: left;
}

.checkbox .input_checkbox + label:before
{
    font-size: 13px;

    margin-right: 4px;
}

/* ---------------------------------------------------------------------
 Circles
 ----------------------------------------------------------------------- */

.circles
{
    margin: 0 auto;

    text-align: center;
}

.circles > *
{
    font-size: 120%;

    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
    height: 0;
    margin: 0 auto 20px;
    padding: 30px 40px 250px;

    border-radius: 50%;
    background-color: #fff;
}

/* ---------------------------------------------------------------------
 Container
 ----------------------------------------------------------------------- */

.container
{
    position: relative;

    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container:before,
.container:after
{
    display: table;

    content: ' ';
}

.container:after
{
    clear: both;
}

/* ---------------------------------------------------------------------
 ContentInfo
 ----------------------------------------------------------------------- */

.contentInfo
{
    font-size: 12px;

    display: block;

    padding: 30px 0 0;
}

.contentInfo > *
{
    display: block;
}

/* ---------------------------------------------------------------------
 Device
 ----------------------------------------------------------------------- */

.device
{
    position: relative;

    text-align: center;
}

.device-location
{
    font-size: 18px;

    text-transform: uppercase;
}

.device-img
{
    position: relative;
    z-index: 2;

    width: auto;
    height: 150px;
    margin: 0 auto;
}

.device-loader
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    margin-left: -16.5px;
}

/* ---------------------------------------------------------------------
 deviceContainer
 ----------------------------------------------------------------------- */

.deviceContainer
{
    padding-bottom: 40px;
}

/* ---------------------------------------------------------------------
 deviceRule
 ----------------------------------------------------------------------- */

.deviceRule + .deviceRule
{
    padding-top: 30px;
}

.deviceRule-name
{
    font-size: 20px;
    font-weight: 400;

    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 fancySelect
 https://github.com/octopuscreative/FancySelect
 ----------------------------------------------------------------------- */

div.fancy-select
{
    position: relative;
}

div.fancy-select.disabled
{
    opacity: .5;
}

div.fancy-select div.trigger
{
    position: relative;

    overflow: hidden;

    width: 56px;
    height: 13px;
    padding: 0 10px 0 0;

    cursor: pointer;
    -webkit-transition: all 240ms ease-out;
            transition: all 240ms ease-out;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.fancy-select div.trigger:after
{
    position: absolute;
    top: 4px;
    right: 0;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border: 5px solid transparent;
    border-top-color: #fff;
}

div.fancy-select div.trigger.open:after
{
    border-top-color: #f0f0f0;
}

div.fancy-select ul.options
{
    position: absolute;
    z-index: 50;
    top: 50px;
    left: 0;

    visibility: hidden;
    overflow: auto;

    min-width: 140px;
    max-height: 200px;
    margin: 0;

    list-style: none;

    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
            transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;

    opacity: 0;
    color: #666;
    border-radius: 6px;
    background: #f0f0f0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

div.fancy-select ul.options.open
{
    top: 32px;

    visibility: visible;

    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
            transition: opacity 300ms ease-out, top 300ms ease-out;

    opacity: 1;
}

div.fancy-select ul.options li
{
    padding: 8px 12px;

    cursor: pointer;
    -webkit-transition: all 150ms ease-out;
            transition: all 150ms ease-out;
    white-space: nowrap;
}

div.fancy-select ul.options li.selected
{
    color: #fff;
}

div.fancy-select ul.options li.selected:hover
{
    color: #fff;
}

div.fancy-select ul.options li.hover
{
    color: #1e3150;
}

/* ---------------------------------------------------------------------
 flipperContainer
 ----------------------------------------------------------------------- */

.flipperContainer
{
    width: 100%;
    margin-bottom: 60px;

    -webkit-transition: height .2s linear;
            transition: height .2s linear;

    -webkit-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
}

/* ---------------------------------------------------------------------
 flipper
 ----------------------------------------------------------------------- */

.flipper
{
    position: relative;

    -webkit-transition: .6s;
            transition: .6s;

    -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flipper.flipped
{
    -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.flipper-front,
.flipper-back
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    background-color: #fff;

    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}

.flipper-front
{
    z-index: 2;
}

.flipper-back
{
    -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);

    background: #f8f8f8;
}

/* ---------------------------------------------------------------------
 formOptions
 ----------------------------------------------------------------------- */

.formOptions
{
    padding: 15px 0 0 20px;
}

.formOptions-toggles
{
    padding: 10px 0 20px;
}

/* ---------------------------------------------------------------------
 formField
 ----------------------------------------------------------------------- */

.formField
{
    position: relative;

  /* Necessary for hiding checkboxes & radio buttons */
    overflow: hidden;

    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 formContainer
 ----------------------------------------------------------------------- */

.formContainer-fields
{
    margin-bottom: 20px;
    padding: 15px 15px 5px;

    border: 1px solid #666;
    border-radius: 12px;
    background-color: #f0f0f0;
}

.formContainer-indent
{
    padding: 10px 0 0 0;
}

.formContainer-ft_pad
{
    padding: 40px 0 0 0;
}

.formContainer-callous
{
    padding: 15px 0 0;
}

/* ---------------------------------------------------------------------
 12 Column Grid
 ----------------------------------------------------------------------- */

.grid:before,
.grid:after
{
    display: table;

    content: ' ';
}

.grid:after
{
    clear: both;
}

/* ---------------------------------------------------------------------
 Hero
 ----------------------------------------------------------------------- */

.hero
{
    position: relative;

    display: none;
    overflow: hidden;

  /* Hides pseudo class on highlighted headings */
    width: 100%;
    height: 600px;

    -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;

    background: #8bdff8 url('../images/hero.jpg') no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
            background-size: cover;
}

.hero-wrap
{
    position: relative;

    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-wrap:before,
.hero-wrap:after
{
    display: table;

    content: ' ';
}

.hero-wrap:after
{
    clear: both;
}

.hero-wrap-hand
{
    position: absolute;
    right: 0;
    bottom: -170px;

    display: none;

    width: 440px;
    height: auto;

    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.hero-wrap-hd
{
    font-size: 50px;

    position: absolute;
    top: 180px;
    left: 20px;

    width: 100%;

    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    text-align: left;

    color: #fff;
}

.hero-wrap-hd > *
{
    font-weight: 300;

    display: inline-block;

    margin: 0 0 10px;
    padding: 0 20px;

    border-radius: 6px;
}

.hero-wrap-hd > *:last-child
{
    color: #f38a00;
    background: rgba(255, 255, 255, .8);
}

/* ---------------------------------------------------------------------
 Headings
 ----------------------------------------------------------------------- */

.hdg
{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.hdg_3
{
    font-size: 20px;
    font-weight: 400;

    text-transform: uppercase;
}

.hdg_center
{
    text-align: center;
}

/* ---------------------------------------------------------------------
 helptext
 ----------------------------------------------------------------------- */

.helpText
{
    font-size: 18px;

    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------
 history
 ----------------------------------------------------------------------- */

.history
{
    overflow-y: scroll;
}

.history > h3
{
    font-size: 20px;
    font-weight: 400;

    text-transform: uppercase;
}

.history > ul
{
    padding: 0 0 15px 10%;
}

/* ---------------------------------------------------------------------
 historyContainer
 ----------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
 hList
 ----------------------------------------------------------------------- */

.hList:before,
.hList:after
{
    display: table;

    content: ' ';
}

.hList:after
{
    clear: both;
}

.hList > *
{
    float: left;

    width: 50%;

    text-align: center;
}

.hList > * + *
{
    margin-top: 5px;
}

/* ---------------------------------------------------------------------
 iconImage
 ----------------------------------------------------------------------- */

.iconImage
{
    display: block;

    width: 80px;
    height: 67px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 80px 67px;
            background-size: 80px 67px;
}

/* ---------------------------------------------------------------------
 Inputs
 ----------------------------------------------------------------------- */

.input
{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.6;

    width: 96%;
    margin: 0;
    padding: 6px 2%;

    letter-spacing: 1.2px;

    border: none;
    border-radius: 6px;
    background-color: #fff;
}

.input:focus
{
    font-size: 12px;
  /* Overrides the 16px zooming fix for iOS on mobile */
}

.input_select
{
    width: 100%;
    height: 38px;
}

.input_small
{
    width: 40px;
}

.input_icon
{
    width: 80%;
    margin-right: 4%;
}

.input_serial
{
    width: 22%;
}

.input_serial + .input_serial
{
    margin-left: 5.5%;
}

.input_checkbox,
.input_radio
{
    position: absolute;
    right: 200%;
    bottom: 200%;
}

.input_radio + label:before
{
    font-family: FontAwesome;
    font-size: 16px;

    float: left;

    margin-right: 8px;

    content: '\f10c';
}

.input_radio:checked + label:before
{
    content: '\f192';
}

.input_checkbox + label:before
{
    font-family: FontAwesome;
    font-size: 16px;

    float: left;

    margin-right: 8px;

    content: '\f10c';
}

.input_checkbox:checked + label:before
{
    content: '\f05d';
}

/* ---------------------------------------------------------------------
 inputGroup
 ----------------------------------------------------------------------- */

.inputGroup
{
    text-align: center;
}

.inputGroup > *
{
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Label
 ----------------------------------------------------------------------- */

.label
{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 12px;

    display: block;

    width: 100%;
    margin: 2px 0 0;
    padding: 0;

    text-align: left;

    -webkit-appearance: none;
}

.label_hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.label_inline
{
    display: inline-block;

    width: auto;
    min-width: 40px;
}

/* ---------------------------------------------------------------------
 languageSelect
 ----------------------------------------------------------------------- */

.languageSelect
{
    font-size: 11px;
    line-height: 1;

    display: block;
    float: right;

    width: 140px;
    margin: 0;
    padding: 8px 0 0;

    color: #fff;
}

.languageSelect:before,
.languageSelect:after
{
    display: table;

    content: ' ';
}

.languageSelect:after
{
    clear: both;
}

.languageSelect-label
{
    float: left;

    margin-right: 5px;
}

.mix-languageSelect_center
{
    float: none;

    margin: 0 auto;
}

/* ---------------------------------------------------------------------
 learnImage
 ----------------------------------------------------------------------- */

.learnImage
{
    display: block;

    width: 180px;
    height: auto;
    margin: 0 auto 20px;
}

/* ---------------------------------------------------------------------
 learnLoader
 ----------------------------------------------------------------------- */

.learnLoader
{
    margin: 0 auto;

    text-align: center;
}

/* ---------------------------------------------------------------------
 Links
 ----------------------------------------------------------------------- */

.link_alt
{
    text-decoration: none;

    color: white;
}

.link_hasIcon
{
    position: relative;

    display: inline-block;

    padding-left: 30px;
}

/* ---------------------------------------------------------------------
 menuContainer
 ----------------------------------------------------------------------- */

.menuContainer
{
    position: fixed;
    left: -80%;

    width: 80%;
    min-height: 100%;

    -webkit-box-shadow: inset -20px 0 40px rgba(0, 0, 0, .5);
            box-shadow: inset -20px 0 40px rgba(0, 0, 0, .5);
}

.menuContainer.isOpen
{
    left: 0;
}

/* ---------------------------------------------------------------------
 12 Column mobileGrid
 ----------------------------------------------------------------------- */

.mobileGrid:before,
.mobileGrid:after
{
    display: table;

    content: ' ';
}

.mobileGrid:after
{
    clear: both;
}

.mobileGrid-col
{
    float: left;
}

.mobileGrid-col + .mobileGrid-col
{
    margin-left: 2.127663%;
}

.mobileGrid-col_1of12
{
    width: 6.382989%;
}

.mobileGrid-col_2of12
{
    width: 14.893641%;
}

.mobileGrid-col_3of12
{
    width: 23.404293%;
}

.mobileGrid-col_4of12
{
    width: 31.914945%;
}

.mobileGrid-col_5of12
{
    width: 40.425597%;
}

.mobileGrid-col_6of12
{
    width: 48.936249%;
}

.mobileGrid-col_7of12
{
    width: 57.446901%;
}

.mobileGrid-col_8of12
{
    width: 65.957553%;
}

.mobileGrid-col_9of12
{
    width: 74.468205%;
}

.mobileGrid-col_10of12
{
    width: 82.978857%;
}

.mobileGrid-col_11of12
{
    width: 91.489509%;
}

.mobileGrid-col_12of12
{
    width: 100%;
}

/* ---------------------------------------------------------------------
 mobileMenu
 ----------------------------------------------------------------------- */

.mobileMenu
{
    width: 100%;
    padding: 35px 0 0;
}

/* ---------------------------------------------------------------------
 mobileLink
 ----------------------------------------------------------------------- */

.mobileLink
{
    font-size: 24px;

    position: relative;

    display: block;

    width: 66%;
    padding: 13px 10% 13px 24%;

    color: white;
    background: transparent;
}

.mobileLink:active
{
    color: white;
    -webkit-box-shadow: inset -20px 0 40px rgba(0, 0, 0, .5);
            box-shadow: inset -20px 0 40px rgba(0, 0, 0, .5);
}

.mobileLink-icon
{
    position: absolute;
    top: 20px;
    left: 10%;

    width: 24px;
    height: auto;
}

/* ---------------------------------------------------------------------
 pageContainer
 ----------------------------------------------------------------------- */

.pageContainer.isOpen
{
    position: fixed;
    left: 80%;

    width: 100%;
}

/* ---------------------------------------------------------------------
 Pull Nav
 ----------------------------------------------------------------------- */

.pullNav_mobile
{
    float: right;
}

/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */

.registerStep
{
    position: relative;

    width: 12%;
    height: 0;
    margin: 0 0 40px;
    padding: 4% 0 8%;

    color: #fff;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.registerStep:after
{
    position: absolute;
    top: 50%;
    left: 100%;

    width: 150%;
    height: 3px;

    content: '';

    background-color: #f0f0f0;
}

.registerStep:last-child:after
{
    display: none;
}

.registerStep + .registerStep
{
    margin-left: 16%;
}

.registerStep-step
{
    font-size: 20px;
    line-height: 1;

    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    margin-top: -10px;
}

/* ---------------------------------------------------------------------
 regError
 ----------------------------------------------------------------------- */

.regError
{
    display: none;

    color: red;
}

/* ---------------------------------------------------------------------
 rules
 ----------------------------------------------------------------------- */

.rules
{
    min-height: 200px;
}

/* ---------------------------------------------------------------------
 historyContainer
 ----------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
 slickSlider
 https://github.com/kenwheeler/slick/
 ----------------------------------------------------------------------------- */

.slick-slider
{
    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -ms-touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus
{
    outline: none;
}

.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    zoom: 1;
}

.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}

.slick-track:after
{
    clear: both;
}

.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
}

.slick-slide.slick-loading img
{
    display: none;
}

.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-initialized .slick-slide
{
    display: block;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}

.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 30px;
    height: 30px;
    margin-top: -15px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: FontAwesome;
    font-size: 25px;
    line-height: 1;

    color: #949494;

    -webkit-font-smoothing: antialiased;
}

.slick-prev
{
    left: -10px;
}

.slick-prev:before
{
    content: '\f053';
}

.slick-next
{
    right: -10px;
}

.slick-next:before
{
    content: '\f054';
}

/* Dots */

.slick-slider
{
    margin-bottom: 50px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '\2022';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}

[dir='rtl'] .slick-next:before
{
    content: '\2190';
}

[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

[dir='rtl'] .slick-prev:before
{
    content: '\2192';
}

[dir='rtl'] .slick-slide
{
    float: right;
}

/* ---------------------------------------------------------------------------
 stackList -- Lays out horizontally on desktop but stacks vertically on mobile
 ----------------------------------------------------------------------------- */

.stackList
{
    padding-top: 30px;
}

.stackList > *
{
    margin-top: 20px;

    text-align: center;
    vertical-align: top;
}

/* ---------------------------------------------------------------------
 Toggle
 ----------------------------------------------------------------------- */

.toggle
{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;

    position: relative;

    display: block;
    overflow: hidden;

    width: 96%;
    margin: 0;
    padding: 6px 2% 4px;

    cursor: pointer;
    letter-spacing: 1.2px;

    border: none;
    border-top: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .6);

    -webkit-appearance: none;
}

.toggle:last-child
{
    border-bottom: 1px solid #f0f0f0;
}

.toggle:before
{
    font-family: FontAwesome;
    font-size: 28px;

    float: left;

    margin-right: 8px;
}

.toggle.is-selected:before
{
    content: '\f205';
}

.toggle.not-selected:before
{
    content: '\f204';

    color: #666;
}

.toggle-input
{
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.toggle-name
{
    display: inline-block;
    overflow: hidden;

    max-width: 70%;
    padding-top: 8px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.toggle-edit
{
    float: right;

    padding-top: 8px;
}

/* ---------------------------------------------------------------------
 Triangle Section
 ----------------------------------------------------------------------- */

.triangleSection
{
    position: relative;

    margin-bottom: 60px;
    padding: 80px 0 60px;

    border-top: 2px solid #f38a00;
    border-bottom: 1px solid #ccc2b6;
    background-color: #f0f0f0;
}

.triangleSection-triangle
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -30px;

    border-top: 30px solid #f38a00;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

/* ---------------------------------------------------------------------
 vList
 ----------------------------------------------------------------------- */

.vList
{
    list-style: none;
}

/* -----------------------------------------------------------
 Media Queries
 ---------------------------------------------------------- */

@media (min-width: 767px)
{
  /* ---------------------------------------------------------------------
   Header
   ----------------------------------------------------------------------- */

    .header
    {
        padding: 0 0 30px;

        border-bottom: 2px solid;
    }

    .header-crown
    {
        margin-bottom: 30px;
        padding: 0 0 8px;

        background-color: #1e3150;
    }

  /* ---------------------------------------------------------------------
   Logo
   ----------------------------------------------------------------------- */

    .appLogo
    {
        margin: 15px 0 0;
    }

    .appLogo_alt
    {
        margin: 0 auto;
    }

    .appLogo_high
    {
        margin: 5px 0;
    }

  /* ---------------------------------------------------------------------
   appIcon Small
   ----------------------------------------------------------------------- */

    .appIcon
    {
        width: 120px;
    }

  /* ---------------------------------------------------------------------
   card Small Device
   ----------------------------------------------------------------------- */

    .card
    {
        padding: 80px 40px 40px;
    }

    .card_small
    {
        padding: 80px 40px 40px;
    }

    .card-hd
    {
        top: 40px;
        right: auto;
        left: -20px;
    }

    .card-hd:before
    {
        position: absolute;
        z-index: -1;
        bottom: -10px;
        left: 0;

        width: 0;
        height: 0;

        content: '';

        border-top: 10px solid transparent;
        border-right: 20px solid #101a2b;
        border-bottom: 10px solid transparent;
    }

    .card-hd-title
    {
        font-size: 20px;

        display: inline-block;

        width: auto;
        margin: 0;
        padding: 10px 40px;

        text-align: left;
    }

    .card-actions
    {
        top: 40px;
        right: 40px;
    }

    .card-bd
    {
        padding: 60px 0 30px;
    }

  /* ---------------------------------------------------------------------
   Box Small
   ----------------------------------------------------------------------- */

    .box-media
    {
        float: left;

        margin: 0 20px 0 0;
    }

  /* ---------------------------------------------------------------------
   cardContainer Small
   ----------------------------------------------------------------------- */

    .cardContainer
    {
        padding: 40px 0 0;
    }

    .cardContainer_pad
    {
        padding: 40px 0;
    }

  /* ---------------------------------------------------------------------
   Circles Small
   ----------------------------------------------------------------------- */

    .circles > *
    {
        display: inline-block;

        margin: 0 20px;
    }

  /* ---------------------------------------------------------------------
   Container Small
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   flipperContainer Small
   ----------------------------------------------------------------------- */

    .flipperContainer_left
    {
        width: 96%;
        margin-right: 4%;
    }

    .flipperContainer_right
    {
        width: 96%;
        margin-left: 4%;
    }

  /* ---------------------------------------------------------------------
   12 Column Grid Small
   ----------------------------------------------------------------------- */

    .grid-col
    {
        float: left;
    }

    .grid-col + .grid-col
    {
        margin-left: 2.127663%;
    }

    .grid-col_1of12
    {
        width: 6.382989%;
    }

    .grid-col_2of12
    {
        width: 14.893641%;
    }

    .grid-col_3of12
    {
        width: 23.404293%;
    }

    .grid-col_4of12
    {
        width: 31.914945%;
    }

    .grid-col_5of12
    {
        width: 40.425597%;
    }

    .grid-col_6of12
    {
        width: 48.936249%;
    }

    .grid-col_7of12
    {
        width: 57.446901%;
    }

    .grid-col_8of12
    {
        width: 65.957553%;
    }

    .grid-col_9of12
    {
        width: 74.468205%;
    }

    .grid-col_10of12
    {
        width: 82.978857%;
    }

    .grid-col_11of12
    {
        width: 91.489509%;
    }

    .grid-col_12of12
    {
        width: 100%;
    }

    .grid-col_6of12_centered
    {
        width: 48.936249%;
        margin-right: auto;
        margin-left: auto;
    }

    .grid-col_8of12_centered
    {
        width: 65.957553%;
        margin-right: auto;
        margin-left: auto;
    }

  /* ---------------------------------------------------------------------
   Hero Small Screens
   ----------------------------------------------------------------------- */

    .hero
    {
        display: block;
    }

  /* ---------------------------------------------------------------------
   hList
   ----------------------------------------------------------------------- */

    .hList > *
    {
        width: auto;

        text-align: left;
    }

    .hList > * + *
    {
        margin-top: 0;
        margin-left: 4px;
    }

    .hList_spaced > * + *
    {
        margin-left: 20px;
    }

  /* ---------------------------------------------------------------------
   Inputs Small
   ----------------------------------------------------------------------- */

    .input
    {
        width: 100px;
        padding: 8px 8px 6px;
    }

    .input_small
    {
        width: 40px;
    }

    .input_select
    {
        width: 100%;
        height: 38px;
    }

    .input_block
    {
        width: 95.5%;
        padding: 6px 2%;
    }

    .input_icon
    {
        width: 80%;
        margin-right: 5%;
    }

    .input_serial
    {
        width: 22%;
    }

  /* ---------------------------------------------------------------------
   languageSelect
   ----------------------------------------------------------------------- */

    .mix-languageSelect_center
    {
        float: right;
    }

  /* ---------------------------------------------------------------------
   Pull Nav Small
   ----------------------------------------------------------------------- */

    .pullNav
    {
        float: right;
    }

  /* ---------------------------------------------------------------------
   pageContainer
   ----------------------------------------------------------------------- */

    .pageContainer.isOpen
    {
        position: static;
    }

  /* ---------------------------------------------------------------------
   stackList Desktop Styles
   ----------------------------------------------------------------------- */

    .stackList
    {
        padding-top: 0;
    }

    .stackList > *
    {
        display: inline-block;

        width: auto;
        margin-top: 0;

        text-align: right;
    }

    .stackList > * i
    {
        padding: 6px 0 0;
    }

    .stackList > * + *
    {
        margin-left: 10px;
    }

  /* ---------------------------------------------------------------------
   Triangle Section
   ----------------------------------------------------------------------- */

    .triangleSection
    {
        margin-bottom: 60px;
        padding: 80px 0 60px;

        background-color: #fff;
    }
}

@media (min-width: 979px)
{
  /* ---------------------------------------------------------------------
   Container Medium
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   Hero Medium Screens
   ----------------------------------------------------------------------- */

    .hero-wrap-hand
    {
        display: block;
    }

    .hero-wrap-hd
    {
        width: 70%;
    }

  /* ---------------------------------------------------------------------
   Inputs Medium
   ----------------------------------------------------------------------- */

    .input
    {
        width: 140px;
    }

    .input_small
    {
        width: 40px;
    }

    .input_select
    {
        width: 100%;
        height: 38px;
    }

    .input_block
    {
        width: 95.5%;
        padding: 10px 2%;
    }

    .input_icon
    {
        width: 86%;
        margin-right: 4%;
    }

    .input_serial
    {
        width: 25%;
    }

  /* ---------------------------------------------------------------------
   learnImage
   ----------------------------------------------------------------------- */

    .learnImage
    {
        float: left;

        margin: 5px 20px 20px 0;
    }
}

@media (min-width: 1170px)
{
  /* ---------------------------------------------------------------------
   Container Large
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   Hero Large Screens
   ----------------------------------------------------------------------- */

    .hero-wrap-hd
    {
        width: 60%;
    }
}

/* -----------------------------------------------------------
 Media Utils
 ---------------------------------------------------------- */

/* Media dependent helper classes */

.isHiddenSmall
{
    display: none;
}

@media (min-width: 767px)
{
    .isHiddenSmall
    {
        display: block;
    }

    .isVisibleSmall
    {
        display: none;
    }
}

@media (min-width: 979px)
{
}

@media (min-width: 1170px)
{
}
