/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)
    Theme: Chamberlain

 ---------------------------------------------------------- */
.mixin-gradient
{
    background: #fff;
    background:    -moz-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:      -o-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:     -ms-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:         linear-gradient(to bottom, #fff 40%, #f0f0f0 100%);
}
.mixin-clearfix:before,
.mixin-clearfix:after
{
    display: table;

    content: ' ';
}
.mixin-clearfix:after
{
    clear: both;
}
/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */
a
{
    text-decoration: underline;

    color: #f57e27;
}
a:hover
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 Header Chamberlain
 ----------------------------------------------------------------------- */
.header
{
    border-bottom-color: #1e3150;
    background-image: url(../images/banner-pattern.png);
}
.header-crown
{
    background-color: #1e3150;
}
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */
.footer
{
    background: #1e3150;
}
/* ---------------------------------------------------------------------
 Box Chamberlain
 ----------------------------------------------------------------------- */
.box
{
    background: #dff0fe;
}
.box-media_tips
{
    background-image: url(../images/box-media-tips_chamberlain@2x.png);
}
.box-media_download
{
    background-image: url(../images/box-media-download_chamberlain@2x.png);
}
.box-media_shop
{
    background-image: url(../images/box-media-shop_chamberlain@2x.png);
}
.box-media_community
{
    background-image: url(../images/box-media-community_chamberlain@2x.png);
}
/* ---------------------------------------------------------------------
 Buttons Chamberlain
 ----------------------------------------------------------------------- */
.btn
{
    border: 1px solid #f38a00;
    background-color: #f38a00;
}
.btn:hover,
.btn:active
{
    color: white;
    border: 1px solid #ca7300;
    background-color: #ca7300;
}
.btn_alt
{
    color: #1e3150;
    border: 1px solid #1e3150;
    background-color: #fff;
}
.btn_alt:hover,
.btn_alt:active
{
    border: 1px solid #1e3150;
    background-color: #1e3150;
}
.btn_next
{
    color: #fff;
    border: 1px solid #1e3150;
    background-color: #1e3150;
}
.btn_next:hover,
.btn_next:active
{
    border: 1px solid #1e3150;
    background-color: #1e3150;
}
.btn_cancel
{
    color: #666;
    border: 1px solid #ccc2b6;
    background-color: #f0f0f0;
}
.btn_icon
{
    color: #1e3150;
    border: 1px solid transparent;
    background-color: transparent;
}
.btn_icon:hover,
.btn_icon:active
{
    color: #f38a00;
    border: 1px solid transparent;
    background-color: transparent;
}
.mix-btn_orange
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 card Chamberlain
 ----------------------------------------------------------------------- */
.card-hd-title
{
    background: #1e3150;
}
/* ---------------------------------------------------------------------
 Circles Chamberlain
 ----------------------------------------------------------------------- */
.circles > *
{
    border: 6px solid #dff0fe;
}
/* ---------------------------------------------------------------------
 Device Chamberlain
 ----------------------------------------------------------------------- */
.device-loader
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 fancySelect Chamberlain
 ----------------------------------------------------------------------- */
div.fancy-select ul.options li.selected
{
    background: #1e3150;
}
/* ---------------------------------------------------------------------
 Hero Chamberlain
 ----------------------------------------------------------------------- */
.hero-wrap-hd > *
{
    background: rgba(4, 55, 98, .8);
}
.hero-wrap-hd > *:last-child
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 iconImage Chamberlain
 ----------------------------------------------------------------------- */
.iconImage_login
{
    background-image: url(../images/iconImage-login_chamberlain.png);
}
.iconImage_wifi
{
    background-image: url(../images/iconImage-wifi_chamberlain.png);
}
.iconImage_user
{
    background-image: url(../images/iconImage-user_chamberlain.png);
}
/* ---------------------------------------------------------------------
 Inputs Chamberlain
 ----------------------------------------------------------------------- */
.input
{
    border: 1px solid #1e3150;
}
.input_checkbox + label:before,
.input_radio + label:before
{
    color: #1e3150;
}
/* ---------------------------------------------------------------------
 Links Chamberlain
 ----------------------------------------------------------------------- */
.link_alt:hover
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 menuContainer Chamberlain
 ----------------------------------------------------------------------- */
.menuContainer
{
    background: #314454;
}
/* ---------------------------------------------------------------------
 mobileLink Chamberlain
 ----------------------------------------------------------------------- */
.mobileLink:active
{
    background-color: #2a3742;
}
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */
.registerStep_active
{
    background-color: #f38a00;
}
.registerStep_active:after
{
    background-color: #f38a00;
}
/* ---------------------------------------------------------------------
 Toggle Chamberlain
 ----------------------------------------------------------------------- */
.toggle:before
{
    color: #f38a00;
}
/* ---------------------------------------------------------------------
 Triangle Section Chamberlain
 ----------------------------------------------------------------------- */
.triangleSection
{
    border-top: 2px solid #f38a00;
}
.triangleSection-triangle
{
    border-top: 30px solid #f38a00;
}
