/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)
    Theme: Liftmaster

 ---------------------------------------------------------- */
.mixin-gradient
{
    background: #fff;
    background:    -moz-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:      -o-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:     -ms-linear-gradient(top, #fff 40%, #f0f0f0 100%);
    background:         linear-gradient(to bottom, #fff 40%, #f0f0f0 100%);
}
.mixin-clearfix:before,
.mixin-clearfix:after
{
    display: table;

    content: ' ';
}
.mixin-clearfix:after
{
    clear: both;
}
/* ---------------------------------------------------------------------
 Global Styles Liftmaster
 ----------------------------------------------------------------------- */
a
{
    text-decoration: underline;

    color: #777;
}
a:hover
{
    color: #acacac;
}
/* ---------------------------------------------------------------------
 Header Liftmaster
----------------------------------------------------------------------- */
.header
{
    color: white;
    border-bottom-color: #fff;
    background-color: #882232;
    background-image: none;
}
.header-crown
{
    background-color: #222;
}
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */
.footer
{
    color: #949494;
    border-top: 1px solid #f0f0f0;
    background: #fff;
}
/* ---------------------------------------------------------------------
 Box Liftmaster
 ----------------------------------------------------------------------- */
.box
{
    background: #f0f0f0;
}
.box-media_tips
{
    background-image: url(../images/box-media-tips_liftmaster@2x.png);
}
.box-media_download
{
    background-image: url(../images/box-media-download_liftmaster@2x.png);
}
.box-media_shop
{
    background-image: url(../images/box-media-shop_liftmaster@2x.png);
}
.box-media_community
{
    background-image: url(../images/box-media-community_liftmaster@2x.png);
}
/* ---------------------------------------------------------------------
 Buttons Liftmaster
 ----------------------------------------------------------------------- */
.btn
{
    border: 1px solid #222;
    background-color: #222;
}
.btn:hover,
.btn:active
{
    color: white;
    border: 1px solid #0e0e0e;
    background-color: #0e0e0e;
}
.btn_next
{
    color: #fff;
    border: 1px solid #222;
    background-color: #222;
}
.btn_next:hover,
.btn_next:active
{
    border: 1px solid #222;
    background-color: #363636;
}
.btn_alt
{
    color: #222;
    border: 1px solid #222;
    background-color: #fff;
}
.btn_alt:hover,
.btn_alt:active
{
    border: 1px solid #222;
    background-color: #222;
}
.btn_icon
{
    color: #222;
    border: 1px solid transparent;
    background-color: transparent;
}
.btn_icon:hover,
.btn_icon:active
{
    color: #666;
    border: 1px solid transparent;
    background-color: transparent;
}
.mix-btn_orange
{
    color: #882232;
}
.mix-btn_lmwhite
{
    color: white;
}
.mix-btn_lmwhite:hover
{
    color: #acacac;
}
.mix-btn_lmgray
{
    border-color: #949494;
    background-color: #949494;
}
.mix-btn_lmgray:hover
{
    border-color: #949494;
    background-color: #808080;
}
/* ---------------------------------------------------------------------
 card Liftmaster
 ----------------------------------------------------------------------- */
.card-hd-title
{
    background: #222;
}
/* ---------------------------------------------------------------------
 Circles Liftmaster
 ----------------------------------------------------------------------- */
.circles > *
{
    border: 6px solid #d1a0a7;
}
/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */
.checkbox .input_checkbox + label:before
{
    color: #fff;
}
.checkbox a
{
    color: #fff;
}
.checkbox a:hover
{
    color: #949494;
}
/* ---------------------------------------------------------------------
 Device Liftmaster
 ----------------------------------------------------------------------- */
.device-loader
{
    color: #882232;
}
/* ---------------------------------------------------------------------
 fancySelect Liftmaster
 ----------------------------------------------------------------------- */
div.fancy-select ul.options li.selected
{
    background: #222;
}
/* ---------------------------------------------------------------------
 Hero Liftmaster
 ----------------------------------------------------------------------- */
.hero-wrap-hd > *
{
    background: rgba(34, 34, 34, .7);
}
.hero-wrap-hd > *:last-child
{
    color: #882232;
}
/* ---------------------------------------------------------------------
 iconImage Liftmaster
 ----------------------------------------------------------------------- */
.iconImage_login
{
    background-image: url(../images/iconImage-login_liftmaster.png);
}
.iconImage_wifi
{
    background-image: url(../images/iconImage-wifi_liftmaster.png);
}
.iconImage_user
{
    background-image: url(../images/iconImage-user_liftmaster.png);
}
/* ---------------------------------------------------------------------
 Inputs Liftmaster
 ----------------------------------------------------------------------- */
.input
{
    border: 1px solid #222;
}
.input_checkbox + label:before,
.input_radio + label:before
{
    color: #222;
}
/* ---------------------------------------------------------------------
 Links Liftmaster
 ----------------------------------------------------------------------- */
.link_alt
{
    color: #949494;
}
.link_alt:hover
{
    color: #882232;
}
/* ---------------------------------------------------------------------
 menuContainer
 ----------------------------------------------------------------------- */
.menuContainer
{
    background: #343434;
}
/* ---------------------------------------------------------------------
 mobileLink Liftmaster
 ----------------------------------------------------------------------- */
.mobileLink:active
{
    background-color: #222;
}
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */
.registerStep_active
{
    background-color: #882232;
}
.registerStep_active:after
{
    background-color: #882232;
}
/* ---------------------------------------------------------------------
 Toggle Liftmaster
 ----------------------------------------------------------------------- */
.toggle:before
{
    color: #882232;
}
/* ---------------------------------------------------------------------
 Triangle Section Liftmaster
 ----------------------------------------------------------------------- */
.triangleSection
{
    border-top: 2px solid #882232;
    border-bottom: 1px solid #f0f0f0;
}
.triangleSection-triangle
{
    border-top: 30px solid #882232;
}
