
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */

.registerStep_active {
    background-color: @COLOR_ORANGE;

    &:after {
        background-color: @COLOR_ORANGE;
    }
}
