
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */

.registerStep {
    margin: 0 0 40px;
    position: relative;
    width: 12%;
    height: 0;
    padding: 4% 0 8%;
    background-color: @COLOR_LTGRAY;
    color: #ffffff;
    border-radius: 50%;

    &:after {
        position: absolute;
        left: 100%;
        top: 50%;
        content: "";
        background-color: @COLOR_LTGRAY;
        height: 3px;
        width: 150%;
    }
}

.registerStep:last-child {
    &:after {
        display: none;
    }
}

.registerStep + .registerStep {
    margin-left: 16%;
}

.registerStep-step {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 100%;
    line-height: 1;
    font-size: 20px;
}
