
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */

.registerStep_active {
    background-color: @COLOR_RED;

    &:after {
        background-color: @COLOR_RED;
    }
}
