

/* ---------------------------------------------------------------------
 deviceContainer
 ----------------------------------------------------------------------- */

.deviceContainer {
    padding-bottom: 40px;
}
