/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)

 ---------------------------------------------------------- */

/* ---------------------------------------------------------------------
 Reset
 ----------------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------------------
 Global Styles
 ----------------------------------------------------------------------- */

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #666666;
}

a {
  color: #1e3150;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 600;
}

select:focus,
input:focus {
  font-size: 16px;
  /* Prevents iOS zooming effect */
}

label {
  cursor: pointer;
}

.mixin-gradient {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0 100%);
}

.mixin-clearfix:before,
.mixin-clearfix:after {
  content: " ";
  display: table;
}

.mixin-clearfix:after {
  clear: both;
}

/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */

.footer {
  margin: 40px 0 0;
  padding: 30px 0;
  color: white;
}

/* ---------------------------------------------------------------------
 Header
 ----------------------------------------------------------------------- */

.header {
  padding: 0 0 30px;
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  background-size: cover;
}

.header-crown {
  padding: 0 0 8px;
  margin-bottom: 15px;
}

.mix-header_center {
  text-align: center;
}

/* ---------------------------------------------------------------------
 appIcon
 ----------------------------------------------------------------------- */

.appIcon {
  display: inline-block;
  margin: 15px 15px 0 0;
  padding: 0;
  width: 100px;
}

.appIcon-img {
  width: 100%;
  height: auto;
}

/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.appLogo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 15px;
}

.appLogo_right {
  float: right;
  width: 60%;
  margin: 10px 0 0;
}

/* ---------------------------------------------------------------------
 Box
 ----------------------------------------------------------------------- */

.box {
  margin: 0 0 20px;
  padding: 20px;
}

.box:before,
.box:after {
  content: " ";
  display: table;
}

.box:after {
  clear: both;
}

.box-media {
  float: none;
  width: 85px;
  height: 85px;
  margin: 0 auto 10px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.box-bd {
  overflow: hidden;
}

/* ---------------------------------------------------------------------
 Buttons
 ----------------------------------------------------------------------- */

.btn {
  display: inline-block;
  min-width: 60px;
  margin: 0;
  padding: 10px 18px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: #ffffff;
}

.btn_alt:hover,
.btn_alt:active {
  color: #ffffff;
}

.btn_icon {
  padding: 0;
  min-width: 40px;
  vertical-align: baseline;
}

.btn_narrow {
  padding: 6px;
}

.btn_block {
  display: block;
}

.btn_large {
  padding: 20px 18px;
  margin-bottom: 20px;
  font-size: 14px;
  position: relative;
}

.btn_large i {
  position: absolute;
  right: 18px;
  top: 50%;
  margin-top: -9px;
}

.btn_rule {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* ---------------------------------------------------------------------
 card
 ----------------------------------------------------------------------- */

.card {
  position: relative;
  padding: 80px 20px 40px;
  background: #ffffff;
  min-height: 340px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.card_small {
  padding: 80px 20px 40px;
}

.card_hidden {
  display: none;
}

.card-hd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.card-hd-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.card-actions {
  position: absolute;
  top: 50px;
  right: 10px;
  left: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-actions > * {
  display: inline-block;
}

.card-bd {
  padding: 30px 0 15px;
}

/* ---------------------------------------------------------------------
 cardContainer
 ----------------------------------------------------------------------- */

.cardContainer {
  margin: 0 0 40px;
  padding: 20px 0 0;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.cardContainer_pad {
  padding: 20px 0;
}

/* ---------------------------------------------------------------------
 centeredList
 ----------------------------------------------------------------------- */

.centeredList {
  list-style: none;
  text-align: center;
}

.centeredList > * {
  display: inline-block;
}

/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */

.checkbox {
  overflow: hidden;
  font-size: 13px;
  text-align: left;
}

.checkbox .input_checkbox + label:before {
  font-size: 13px;
  margin-right: 4px;
}

/* ---------------------------------------------------------------------
 Circles
 ----------------------------------------------------------------------- */

.circles {
  margin: 0 auto;
  text-align: center;
}

.circles > * {
  overflow: hidden;
  display: block;
  width: 200px;
  height: 0;
  margin: 0 auto 20px;
  padding: 30px 40px 250px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 120%;
}

/* ---------------------------------------------------------------------
 Container
 ----------------------------------------------------------------------- */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

/* ---------------------------------------------------------------------
 ContentInfo
 ----------------------------------------------------------------------- */

.contentInfo {
  display: block;
  padding: 30px 0 0;
  font-size: 12px;
}

.contentInfo > * {
  display: block;
}

/* ---------------------------------------------------------------------
 Device
 ----------------------------------------------------------------------- */

.device {
  text-align: center;
  position: relative;
}

.device-location {
  font-size: 18px;
  text-transform: uppercase;
}

.device-img {
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: auto;
  z-index: 2;
}

.device-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin-left: -16.5px;
}

/* ---------------------------------------------------------------------
 deviceContainer
 ----------------------------------------------------------------------- */

.deviceContainer {
  padding-bottom: 40px;
}

/* ---------------------------------------------------------------------
 deviceRule
 ----------------------------------------------------------------------- */

.deviceRule + .deviceRule {
  padding-top: 30px;
}

.deviceRule-name {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 fancySelect
 https://github.com/octopuscreative/FancySelect
 ----------------------------------------------------------------------- */

div.fancy-select {
  position: relative;
}

div.fancy-select.disabled {
  opacity: 0.5;
}

div.fancy-select div.trigger {
  cursor: pointer;
  padding: 0 10px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 56px;
  height: 13px;
  transition: all 240ms ease-out;
  -webkit-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #ffffff;
  top: 4px;
  right: 0;
}

div.fancy-select div.trigger.open:after {
  border-top-color: #f0f0f0;
}

div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  color: #666666;
  background: #f0f0f0;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  min-width: 140px;
  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 32px;
  opacity: 1;
  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  color: #ffffff;
}

div.fancy-select ul.options li.selected:hover {
  color: #ffffff;
}

div.fancy-select ul.options li.hover {
  color: #1e3150;
}

/* ---------------------------------------------------------------------
 flipperContainer
 ----------------------------------------------------------------------- */

.flipperContainer {
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  width: 100%;
  margin-bottom: 60px;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

/* ---------------------------------------------------------------------
 flipper
 ----------------------------------------------------------------------- */

.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.flipped {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper-front,
.flipper-back {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.flipper-front {
  z-index: 2;
}

.flipper-back {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #f8f8f8;
}

/* ---------------------------------------------------------------------
 formOptions
 ----------------------------------------------------------------------- */

.formOptions {
  padding: 15px 0 0 20px;
}

.formOptions-toggles {
  padding: 10px 0 20px;
}

/* ---------------------------------------------------------------------
 formField
 ----------------------------------------------------------------------- */

.formField {
  position: relative;
  /* Necessary for hiding checkboxes & radio buttons */
  overflow: hidden;
  margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 formContainer
 ----------------------------------------------------------------------- */

.formContainer-fields {
  padding: 15px 15px 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #666666;
  border-radius: 12px;
}

.formContainer-indent {
  padding: 10px 0 0 0;
}

.formContainer-ft_pad {
  padding: 40px 0 0 0;
}

.formContainer-callous {
  padding: 15px 0 0;
}

/* ---------------------------------------------------------------------
 12 Column Grid
 ----------------------------------------------------------------------- */

.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

/* ---------------------------------------------------------------------
 Hero
 ----------------------------------------------------------------------- */

.hero {
  display: none;
  overflow: hidden;
  /* Hides pseudo class on highlighted headings */
  width: 100%;
  height: 600px;
  position: relative;
  background: #8bdff8 url('../images/hero.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hero-wrap {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.hero-wrap:before,
.hero-wrap:after {
  content: " ";
  display: table;
}

.hero-wrap:after {
  clear: both;
}

.hero-wrap-hand {
  display: none;
  position: absolute;
  width: 440px;
  height: auto;
  bottom: -170px;
  right: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hero-wrap-hd {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 100%;
  font-size: 50px;
  text-align: left;
  color: #ffffff;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hero-wrap-hd > * {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 20px;
  font-weight: 300;
  border-radius: 6px;
}

.hero-wrap-hd > *:last-child {
  background: rgba(255, 255, 255, 0.8);
  color: #f38a00;
}

/* ---------------------------------------------------------------------
 Headings
 ----------------------------------------------------------------------- */

.hdg {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.hdg_3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.hdg_center {
  text-align: center;
}

/* ---------------------------------------------------------------------
 helptext
 ----------------------------------------------------------------------- */

.helpText {
  font-size: 18px;
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------
 history
 ----------------------------------------------------------------------- */

.history {
  overflow-y: scroll;
}

.history > h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.history > ul {
  padding: 0 0 15px 10%;
}

/* ---------------------------------------------------------------------
 historyContainer
 ----------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
 hList
 ----------------------------------------------------------------------- */

.hList:before,
.hList:after {
  content: " ";
  display: table;
}

.hList:after {
  clear: both;
}

.hList > * {
  float: left;
  width: 50%;
  text-align: center;
}

.hList > * + * {
  margin-top: 5px;
}

/* ---------------------------------------------------------------------
 iconImage
 ----------------------------------------------------------------------- */

.iconImage {
  display: block;
  width: 80px;
  height: 67px;
  margin: 0 auto;
  -webkit-background-size: 80px 67px;
  background-size: 80px 67px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------------------------------------------------------------------
 Inputs
 ----------------------------------------------------------------------- */

.input {
  padding: 6px 2%;
  margin: 0;
  width: 96%;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 6px;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.input:focus {
  font-size: 12px;
  /* Overrides the 16px zooming fix for iOS on mobile */
}

.input_select {
  height: 38px;
  width: 100%;
}

.input_small {
  width: 40px;
}

.input_icon {
  width: 80%;
  margin-right: 4%;
}

.input_serial {
  width: 22%;
}

.input_serial + .input_serial {
  margin-left: 5.5%;
}

.input_checkbox,
.input_radio {
  position: absolute;
  right: 200%;
  bottom: 200%;
}

.input_radio + label:before {
  content: "\f10c";
  margin-right: 8px;
  font-family: FontAwesome;
  font-size: 16px;
  float: left;
}

.input_radio:checked + label:before {
  content: "\f192";
}

.input_checkbox + label:before {
  content: "\f10c";
  margin-right: 8px;
  font-family: FontAwesome;
  font-size: 16px;
  float: left;
}

.input_checkbox:checked + label:before {
  content: "\f05d";
}

/* ---------------------------------------------------------------------
 inputGroup
 ----------------------------------------------------------------------- */

.inputGroup {
  text-align: center;
}

.inputGroup > * {
  display: inline-block;
}

/* ---------------------------------------------------------------------
 Label
 ----------------------------------------------------------------------- */

.label {
  display: block;
  margin: 2px 0 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  -webkit-appearance: none;
}

.label_hidden {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.label_inline {
  display: inline-block;
  width: auto;
  min-width: 40px;
}

/* ---------------------------------------------------------------------
 languageSelect
 ----------------------------------------------------------------------- */

.languageSelect {
  display: block;
  width: 140px;
  padding: 8px 0 0;
  margin: 0;
  float: right;
  font-size: 11px;
  line-height: 1;
  color: #ffffff;
}

.languageSelect:before,
.languageSelect:after {
  content: " ";
  display: table;
}

.languageSelect:after {
  clear: both;
}

.languageSelect-label {
  float: left;
  margin-right: 5px;
}

.mix-languageSelect_center {
  float: none;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------
 learnImage
 ----------------------------------------------------------------------- */

.learnImage {
  display: block;
  width: 180px;
  height: auto;
  margin: 0 auto 20px;
}

/* ---------------------------------------------------------------------
 learnLoader
 ----------------------------------------------------------------------- */

.learnLoader {
  margin: 0 auto;
  text-align: center;
}

/* ---------------------------------------------------------------------
 Links
 ----------------------------------------------------------------------- */

.link_alt {
  color: white;
  text-decoration: none;
}

.link_hasIcon {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

/* ---------------------------------------------------------------------
 menuContainer
 ----------------------------------------------------------------------- */

.menuContainer {
  position: fixed;
  left: -80%;
  width: 80%;
  min-height: 100%;
  -webkit-box-shadow: inset -20px 0px 40px rgba(0, 0, 0, 0.5);
  box-shadow: inset -20px 0px 40px rgba(0, 0, 0, 0.5);
}

.menuContainer.isOpen {
  left: 0;
}

/* ---------------------------------------------------------------------
 12 Column mobileGrid
 ----------------------------------------------------------------------- */

.mobileGrid:before,
.mobileGrid:after {
  content: " ";
  display: table;
}

.mobileGrid:after {
  clear: both;
}

.mobileGrid-col {
  float: left;
}

.mobileGrid-col + .mobileGrid-col {
  margin-left: 2.127663%;
}

.mobileGrid-col_1of12 {
  width: 6.382989%;
}

.mobileGrid-col_2of12 {
  width: 14.893641%;
}

.mobileGrid-col_3of12 {
  width: 23.404293%;
}

.mobileGrid-col_4of12 {
  width: 31.914945%;
}

.mobileGrid-col_5of12 {
  width: 40.425597%;
}

.mobileGrid-col_6of12 {
  width: 48.936249%;
}

.mobileGrid-col_7of12 {
  width: 57.446901%;
}

.mobileGrid-col_8of12 {
  width: 65.957553%;
}

.mobileGrid-col_9of12 {
  width: 74.468205%;
}

.mobileGrid-col_10of12 {
  width: 82.978857%;
}

.mobileGrid-col_11of12 {
  width: 91.489509%;
}

.mobileGrid-col_12of12 {
  width: 100%;
}

/* ---------------------------------------------------------------------
 mobileMenu
 ----------------------------------------------------------------------- */

.mobileMenu {
  width: 100%;
  padding: 35px 0 0;
}

/* ---------------------------------------------------------------------
 mobileLink
 ----------------------------------------------------------------------- */

.mobileLink {
  display: block;
  position: relative;
  width: 66%;
  padding: 13px 10% 13px 24%;
  font-size: 24px;
  color: white;
  background: transparent;
}

.mobileLink:active {
  color: white;
  -webkit-box-shadow: inset -20px 0px 40px rgba(0, 0, 0, 0.5);
  box-shadow: inset -20px 0px 40px rgba(0, 0, 0, 0.5);
}

.mobileLink-icon {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 24px;
  height: auto;
}

/* ---------------------------------------------------------------------
 pageContainer
 ----------------------------------------------------------------------- */

.pageContainer.isOpen {
  position: fixed;
  width: 100%;
  left: 80%;
}

/* ---------------------------------------------------------------------
 Pull Nav
 ----------------------------------------------------------------------- */

.pullNav_mobile {
  float: right;
}

/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */

.registerStep {
  margin: 0 0 40px;
  position: relative;
  width: 12%;
  height: 0;
  padding: 4% 0 8%;
  background-color: #f0f0f0;
  color: #ffffff;
  border-radius: 50%;
}

.registerStep:after {
  position: absolute;
  left: 100%;
  top: 50%;
  content: "";
  background-color: #f0f0f0;
  height: 3px;
  width: 150%;
}

.registerStep:last-child:after {
  display: none;
}

.registerStep + .registerStep {
  margin-left: 16%;
}

.registerStep-step {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 100%;
  line-height: 1;
  font-size: 20px;
}

/* ---------------------------------------------------------------------
 regError
 ----------------------------------------------------------------------- */

.regError {
  display: none;
  color: red;
}

/* ---------------------------------------------------------------------
 rules
 ----------------------------------------------------------------------- */

.rules {
  min-height: 200px;
}

/* ---------------------------------------------------------------------
 historyContainer
 ----------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------
 slickSlider
 https://github.com/kenwheeler/slick/
 ----------------------------------------------------------------------------- */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-loading .slick-list {
  background: #ffffff url("../images/ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -15px;
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 1;
  color: #949494;
  -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: -10px;
}

.slick-prev:before {
  content: "\f053";
}

.slick-next {
  right: -10px;
}

.slick-next:before {
  content: "\f054";
}

/* Dots */

.slick-slider {
  margin-bottom: 50px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

[dir="rtl"] .slick-slide {
  float: right;
}

/* ---------------------------------------------------------------------------
 stackList -- Lays out horizontally on desktop but stacks vertically on mobile
 ----------------------------------------------------------------------------- */

.stackList {
  padding-top: 30px;
}

.stackList > * {
  margin-top: 20px;
  text-align: center;
  vertical-align: top;
}

/* ---------------------------------------------------------------------
 Toggle
 ----------------------------------------------------------------------- */

.toggle {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 6px 2% 4px;
  margin: 0;
  width: 96%;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 6px;
  line-height: 1.6;
  letter-spacing: 1.2px;
  -webkit-appearance: none;
  border-top: 1px solid #f0f0f0;
  cursor: pointer;
}

.toggle:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.toggle:before {
  margin-right: 8px;
  font-family: FontAwesome;
  font-size: 28px;
  float: left;
}

.toggle.is-selected:before {
  content: "\f205";
}

.toggle.not-selected:before {
  content: "\f204";
  color: #666666;
}

.toggle-input {
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle-name {
  overflow: hidden;
  display: inline-block;
  max-width: 70%;
  padding-top: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toggle-edit {
  float: right;
  padding-top: 8px;
}

/* ---------------------------------------------------------------------
 Triangle Section
 ----------------------------------------------------------------------- */

.triangleSection {
  position: relative;
  padding: 80px 0 60px;
  margin-bottom: 60px;
  border-top: 2px solid #f38a00;
  border-bottom: 1px solid #ccc2b6;
  background-color: #f0f0f0;
}

.triangleSection-triangle {
  width: 0;
  height: 0;
  margin-left: -30px;
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #f38a00;
}

/* ---------------------------------------------------------------------
 vList
 ----------------------------------------------------------------------- */

.vList {
  list-style: none;
}

/* -----------------------------------------------------------
 Media Queries
 ---------------------------------------------------------- */

@media (min-width: 767px) {
  /* ---------------------------------------------------------------------
   Header
   ----------------------------------------------------------------------- */

  .header {
    padding: 0 0 30px;
    border-bottom: 2px solid;
  }

  .header-crown {
    padding: 0 0 8px;
    margin-bottom: 30px;
    background-color: #1e3150;
  }

  /* ---------------------------------------------------------------------
   Logo
   ----------------------------------------------------------------------- */

  .appLogo {
    margin: 15px 0 0;
  }

  .appLogo_alt {
    margin: 0 auto;
  }

  .appLogo_high {
    margin: 5px 0;
  }

  /* ---------------------------------------------------------------------
   appIcon Small
   ----------------------------------------------------------------------- */

  .appIcon {
    width: 120px;
  }

  /* ---------------------------------------------------------------------
   card Small Device
   ----------------------------------------------------------------------- */

  .card {
    padding: 80px 40px 40px;
  }

  .card_small {
    padding: 80px 40px 40px;
  }

  .card-hd {
    top: 40px;
    left: -20px;
    right: auto;
  }

  .card-hd:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #101a2b;
    z-index: -1;
  }

  .card-hd-title {
    display: inline-block;
    margin: 0;
    padding: 10px 40px;
    width: auto;
    text-align: left;
    font-size: 20px;
  }

  .card-actions {
    top: 40px;
    right: 40px;
  }

  .card-bd {
    padding: 60px 0 30px;
  }

  /* ---------------------------------------------------------------------
   Box Small
   ----------------------------------------------------------------------- */

  .box-media {
    float: left;
    margin: 0 20px 0 0;
  }

  /* ---------------------------------------------------------------------
   cardContainer Small
   ----------------------------------------------------------------------- */

  .cardContainer {
    padding: 40px 0 0;
  }

  .cardContainer_pad {
    padding: 40px 0;
  }

  /* ---------------------------------------------------------------------
   Circles Small
   ----------------------------------------------------------------------- */

  .circles > * {
    display: inline-block;
    margin: 0 20px;
  }

  /* ---------------------------------------------------------------------
   Container Small
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   flipperContainer Small
   ----------------------------------------------------------------------- */

  .flipperContainer_left {
    width: 96%;
    margin-right: 4%;
  }

  .flipperContainer_right {
    width: 96%;
    margin-left: 4%;
  }

  /* ---------------------------------------------------------------------
   12 Column Grid Small
   ----------------------------------------------------------------------- */

  .grid-col {
    float: left;
  }

  .grid-col + .grid-col {
    margin-left: 2.127663%;
  }

  .grid-col_1of12 {
    width: 6.382989%;
  }

  .grid-col_2of12 {
    width: 14.893641%;
  }

  .grid-col_3of12 {
    width: 23.404293%;
  }

  .grid-col_4of12 {
    width: 31.914945%;
  }

  .grid-col_5of12 {
    width: 40.425597%;
  }

  .grid-col_6of12 {
    width: 48.936249%;
  }

  .grid-col_7of12 {
    width: 57.446901%;
  }

  .grid-col_8of12 {
    width: 65.957553%;
  }

  .grid-col_9of12 {
    width: 74.468205%;
  }

  .grid-col_10of12 {
    width: 82.978857%;
  }

  .grid-col_11of12 {
    width: 91.489509%;
  }

  .grid-col_12of12 {
    width: 100%;
  }

  .grid-col_6of12_centered {
    width: 48.936249%;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-col_8of12_centered {
    width: 65.957553%;
    margin-left: auto;
    margin-right: auto;
  }

  /* ---------------------------------------------------------------------
   Hero Small Screens
   ----------------------------------------------------------------------- */

  .hero {
    display: block;
  }

  /* ---------------------------------------------------------------------
   hList
   ----------------------------------------------------------------------- */

  .hList > * {
    width: auto;
    text-align: left;
  }

  .hList > * + * {
    margin-left: 4px;
    margin-top: 0;
  }

  .hList_spaced > * + * {
    margin-left: 20px;
  }

  /* ---------------------------------------------------------------------
   Inputs Small
   ----------------------------------------------------------------------- */

  .input {
    padding: 8px 8px 6px;
    width: 100px;
  }

  .input_small {
    width: 40px;
  }

  .input_select {
    height: 38px;
    width: 100%;
  }

  .input_block {
    padding: 6px 2%;
    width: 95.5%;
  }

  .input_icon {
    width: 80%;
    margin-right: 5%;
  }

  .input_serial {
    width: 22%;
  }

  /* ---------------------------------------------------------------------
   languageSelect
   ----------------------------------------------------------------------- */

  .mix-languageSelect_center {
    float: right;
  }

  /* ---------------------------------------------------------------------
   Pull Nav Small
   ----------------------------------------------------------------------- */

  .pullNav {
    float: right;
  }

  /* ---------------------------------------------------------------------
   pageContainer
   ----------------------------------------------------------------------- */

  .pageContainer.isOpen {
    position: static;
  }

  /* ---------------------------------------------------------------------
   stackList Desktop Styles
   ----------------------------------------------------------------------- */

  .stackList {
    padding-top: 0;
  }

  .stackList > * {
    display: inline-block;
    width: auto;
    margin-top: 0;
    text-align: right;
  }

  .stackList > * i {
    padding: 6px 0 0;
  }

  .stackList > * + * {
    margin-left: 10px;
  }

  /* ---------------------------------------------------------------------
   Triangle Section
   ----------------------------------------------------------------------- */

  .triangleSection {
    padding: 80px 0 60px;
    margin-bottom: 60px;
    background-color: #ffffff;
  }
}

@media (min-width: 979px) {
  /* ---------------------------------------------------------------------
   Container Medium
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   Hero Medium Screens
   ----------------------------------------------------------------------- */

  .hero-wrap-hand {
    display: block;
  }

  .hero-wrap-hd {
    width: 70%;
  }

  /* ---------------------------------------------------------------------
   Inputs Medium
   ----------------------------------------------------------------------- */

  .input {
    width: 140px;
  }

  .input_small {
    width: 40px;
  }

  .input_select {
    height: 38px;
    width: 100%;
  }

  .input_block {
    padding: 10px 2%;
    width: 95.5%;
  }

  .input_icon {
    width: 86%;
    margin-right: 4%;
  }

  .input_serial {
    width: 25%;
  }

  /* ---------------------------------------------------------------------
   learnImage
   ----------------------------------------------------------------------- */

  .learnImage {
    float: left;
    margin: 5px 20px 20px 0;
  }
}

@media (min-width: 1170px) {
  /* ---------------------------------------------------------------------
   Container Large
   ----------------------------------------------------------------------- */

  /* ---------------------------------------------------------------------
   Hero Large Screens
   ----------------------------------------------------------------------- */

  .hero-wrap-hd {
    width: 60%;
  }
}

/* -----------------------------------------------------------
 Media Utils
 ---------------------------------------------------------- */

/* Media dependent helper classes */

.isHiddenSmall {
  display: none;
}

@media (min-width: 767px) {
  .isHiddenSmall {
    display: block;
  }

  .isVisibleSmall {
    display: none;
  }
}

@media (min-width: 979px) {

}

@media (min-width: 1170px) {

}