/* -----------------------------------------------------------

    Project: CHAMBERLAIN.MyQresponsive
    Author: Nate Arnold (narnold@nerdery.com)
    Theme: Liftmaster

 ---------------------------------------------------------- */
.mixin-gradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffff), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #ffffff 40%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #ffffff 40%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0 100%);
}
.mixin-clearfix:before,
.mixin-clearfix:after {
  content: " ";
  display: table;
}
.mixin-clearfix:after {
  clear: both;
}
/* ---------------------------------------------------------------------
 Global Styles Liftmaster
 ----------------------------------------------------------------------- */
a {
  color: #777777;
  text-decoration: underline;
}
a:hover {
  color: #acacac;
}
/* ---------------------------------------------------------------------
 Header Liftmaster
----------------------------------------------------------------------- */
.header {
  background-image: none;
  background-color: #882232;
  border-bottom-color: #ffffff;
  color: white;
}
.header-crown {
  background-color: #222222;
}
/* ---------------------------------------------------------------------
 Footer
 ----------------------------------------------------------------------- */
.footer {
  background: #ffffff;
  color: #949494;
  border-top: 1px solid #f0f0f0;
}
/* ---------------------------------------------------------------------
 Box Liftmaster
 ----------------------------------------------------------------------- */
.box {
  background: #f0f0f0;
}
.box-media_tips {
  background-image: url(../images/box-media-tips_liftmaster@2x.png);
}
.box-media_download {
  background-image: url(../images/box-media-download_liftmaster@2x.png);
}
.box-media_shop {
  background-image: url(../images/box-media-shop_liftmaster@2x.png);
}
.box-media_community {
  background-image: url(../images/box-media-community_liftmaster@2x.png);
}
/* ---------------------------------------------------------------------
 Buttons Liftmaster
 ----------------------------------------------------------------------- */
.btn {
  background-color: #222222;
  border: 1px solid #222222;
}
.btn:hover,
.btn:active {
  color: white;
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}
.btn_next {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #222222;
}
.btn_next:hover,
.btn_next:active {
  background-color: #363636;
  border: 1px solid #222222;
}
.btn_alt {
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #222222;
}
.btn_alt:hover,
.btn_alt:active {
  background-color: #222222;
  border: 1px solid #222222;
}
.btn_icon {
  color: #222222;
  background-color: transparent;
  border: 1px solid transparent;
}
.btn_icon:hover,
.btn_icon:active {
  color: #666666;
  background-color: transparent;
  border: 1px solid transparent;
}
.mix-btn_orange {
  color: #882232;
}
.mix-btn_lmwhite {
  color: white;
}
.mix-btn_lmwhite:hover {
  color: #acacac;
}
.mix-btn_lmgray {
  background-color: #949494;
  border-color: #949494;
}
.mix-btn_lmgray:hover {
  background-color: #808080;
  border-color: #949494;
}
/* ---------------------------------------------------------------------
 card Liftmaster
 ----------------------------------------------------------------------- */
.card-hd-title {
  background: #222222;
}
/* ---------------------------------------------------------------------
 Circles Liftmaster
 ----------------------------------------------------------------------- */
.circles > * {
  border: 6px solid #D1A0A7;
}
/* ---------------------------------------------------------------------
 Checkbox
 ----------------------------------------------------------------------- */
.checkbox .input_checkbox + label:before {
  color: #ffffff;
}
.checkbox a {
  color: #ffffff;
}
.checkbox a:hover {
  color: #949494;
}
/* ---------------------------------------------------------------------
 Device Liftmaster
 ----------------------------------------------------------------------- */
.device-loader {
  color: #882232;
}
/* ---------------------------------------------------------------------
 fancySelect Liftmaster
 ----------------------------------------------------------------------- */
div.fancy-select ul.options li.selected {
  background: #222222;
}
/* ---------------------------------------------------------------------
 Hero Liftmaster
 ----------------------------------------------------------------------- */
.hero-wrap-hd > * {
  background: rgba(34, 34, 34, 0.7);
}
.hero-wrap-hd > *:last-child {
  color: #882232;
}
/* ---------------------------------------------------------------------
 iconImage Liftmaster
 ----------------------------------------------------------------------- */
.iconImage_login {
  background-image: url(../images/iconImage-login_liftmaster.png);
}
.iconImage_wifi {
  background-image: url(../images/iconImage-wifi_liftmaster.png);
}
.iconImage_user {
  background-image: url(../images/iconImage-user_liftmaster.png);
}
/* ---------------------------------------------------------------------
 Inputs Liftmaster
 ----------------------------------------------------------------------- */
.input {
  border: 1px solid #222222;
}
.input_checkbox + label:before,
.input_radio + label:before {
  color: #222222;
}
/* ---------------------------------------------------------------------
 Links Liftmaster
 ----------------------------------------------------------------------- */
.link_alt {
  color: #949494;
}
.link_alt:hover {
  color: #882232;
}
/* ---------------------------------------------------------------------
 menuContainer
 ----------------------------------------------------------------------- */
.menuContainer {
  background: #343434;
}
/* ---------------------------------------------------------------------
 mobileLink Liftmaster
 ----------------------------------------------------------------------- */
.mobileLink:active {
  background-color: #222222;
}
/* ---------------------------------------------------------------------
 registerStep
 ----------------------------------------------------------------------- */
.registerStep_active {
  background-color: #882232;
}
.registerStep_active:after {
  background-color: #882232;
}
/* ---------------------------------------------------------------------
 Toggle Liftmaster
 ----------------------------------------------------------------------- */
.toggle:before {
  color: #882232;
}
/* ---------------------------------------------------------------------
 Triangle Section Liftmaster
 ----------------------------------------------------------------------- */
.triangleSection {
  border-top: 2px solid #882232;
  border-bottom: 1px solid #f0f0f0;
}
.triangleSection-triangle {
  border-top: 30px solid #882232;
}
