
/* ---------------------------------------------------------------------
 pageContainer
 ----------------------------------------------------------------------- */

.pageContainer {}

.pageContainer.isOpen {
    position: static;
}
