
/* ---------------------------------------------------------------------
 pageContainer
 ----------------------------------------------------------------------- */

.pageContainer {}

.pageContainer.isOpen {
    position: fixed;
    width: 100%;
    left: 80%;
}
