
/* ---------------------------------------------------------------------
 learnImage
 ----------------------------------------------------------------------- */

.learnImage {
    float: left;
    margin: 5px 20px 20px 0;
}
