
/* ---------------------------------------------------------------------
 learnImage
 ----------------------------------------------------------------------- */

.learnImage {
    display: block;
    width: 180px;
    height: auto;
    margin: 0 auto 20px;
}
