
/* ---------------------------------------------------------------------
 Circles
 ----------------------------------------------------------------------- */

.circles {
    margin: 0 auto;
    text-align: center;
}

.circles > * {
    overflow: hidden;
    display: block;
    width: 200px;
    height: 0;
    margin: 0 auto 20px;
    padding: 30px 40px 250px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 120%;
}
