
/* ---------------------------------------------------------------------
 Circles Liftmaster
 ----------------------------------------------------------------------- */

.circles > * {
    border: 6px solid #D1A0A7;
}
