
/* ---------------------------------------------------------------------
 Circles Small
 ----------------------------------------------------------------------- */

.circles > * {
    display: inline-block;
    margin: 0 20px;
}
