
/* ---------------------------------------------------------------------
 Circles Chamberlain
 ----------------------------------------------------------------------- */

.circles > * {
    border: 6px solid @COLOR_LTBLUE;
}
