
/* ---------------------------------------------------------------------
 formOptions
 ----------------------------------------------------------------------- */

.formOptions {
    padding: 15px 0 0 20px;
}

.formOptions-toggles {
    padding: 10px 0 20px;
}
