
/* ---------------------------------------------------------------------
 history
 ----------------------------------------------------------------------- */

.history {
    overflow-y: scroll;
}

.history > h3 {
    font-size: 20px;
    font-weight: @FONT_WEIGHT_BOLD;
    text-transform: uppercase;
}

.history > ul {
    padding: 0 0 15px 10%;
}
