
/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.appLogo {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
}

.appLogo_right {
    float: right;
    width: 60%;
    margin:  10px 0 0;
}
