
/* ---------------------------------------------------------------------
 Logo
 ----------------------------------------------------------------------- */

.appLogo {
    margin: 15px 0 0;
}

.appLogo_alt {
    margin: 0 auto;
}

.appLogo_high {
    margin: 5px 0;
}
