
/* ---------------------------------------------------------------------
 centeredList
 ----------------------------------------------------------------------- */

.centeredList {
    list-style: none;
    text-align: center;
}

.centeredList > * {
    display: inline-block;
}
